.small.center.button {
    font-size: 13px;
}

.big.center.button {
    font-size: 30px;
}

.center.button.submit {
    font-size: 15px;
}

.slogan {
    font-size: 1.7em;
}

.desc-title {
    font-size: 25px;
}

.make-difference {
    line-height: 18px;
    font-size: 12px;
}

.proximamente {
    font-size: 12px;
}