<div class="top">
        <div class="top-right proxima-nova-condensed">
            <div><a href="http://blog.yogaenmartinez.com.ar" target="_blank">Blog</a></div>
            <div><a href="/swasthya-yoga"  target="_blank">SwáSthya</a></div>
            <div><a href="/nosotros" target="_blank">Nosotros</a></div>
            <div><a href="/empresas" target="_blank">Empresas</a></div>
            <div><a href="/clases-particulares" target="_blank">Clases particulares</a></div>
            <div><a href="/contacto" target="_blank">Contactános</a></div>
        </div>
    </div>