<div class="top">
        <ul class="menu top-right proxima-nova-condensed">
            <li><a target="_blank" href="http://blog.yogaenmartinez.com.ar" target="_blank">Blog</a></li>
            <li><a target="_blank" href="/swasthya">Sw치Sthya</a></li>
            <li><a target="_blank" href="/escuela">La escuela</a>
              <ul>
                <li><a target="_blank" href="/imagenes">Im치genes</a></li>
                <li><a target="_blank" href="/escuela#horarios">Horarios</a></li>
                <li><a target="_blank" href="/escuela#actividades">Actividades</a></li>
                <li><a target="_blank" href="/formacion-profesional">Formaci칩n Profesional</a></li>
              </ul>
            </li>
            <span id="to_hide">
                <li><a target="_blank" href="/nosotros">Nosotros</a></li>
                <li><a target="_blank" href="/empresas">Empresas</a></li>
                <li><a target="_blank" href="/clases-particulares">Clases particulares</a></li>
                <li><a target="_blank" href="/contacto">Contact치nos</a></li>
            </span>
        </ul>
</div>