<div class="footer">
        <div class="footer-left proxima-nova-condensed">
            <div class="footer-title">SEGUÍNOS ONLINE</div>
            <div class="footer-social">
                <div class="social-link"><a href="#" class="twitter" target="_blank"></a></div>
                <div class="social-link"><a href="#" class="facebook" target="_blank"></a></div>
                <div class="social-link"><a href="#" class="linkedin" target="_blank"></a></div>
                <div class="social-link"><a href="#" class="youtube" target="_blank"></a></div>
                <div class="social-link"><a href="#" class="rss" target="_blank"></a></div>
            </div>
        </div>
        <div class="footer-left-middle proxima-nova-condensed">
            <div class="footer-title">SITEMAP</div>
            <div class="ai-links">
                <div class="ai-links-left">
                    <a href="/">Principal</a><br>
                    <a href="/swasthya-yoga">SwáSthya Yôga</a><br>
                    <a href="/nosotros">Nosotros</a><br>
                    <a href="#">Empresas</a><br>
                    <a href="#">Clases particulares</a><br>
                    <a href="/contact">Contactános</a><br>
                </div>
                <div class="ai-links-right">

                </div>
            </div>
        </div>
        <div class="footer-right-middle proxima-nova-condensed">
            <div class="footer-chat-box">
                <div class="footer-title">ONG y SOLIDARIAS</div>
                <div class="make-difference">
                    Si querés hacer una diferencia en el mundo, nosotros queremos ayudarte.
                    Contanos qué es lo que hacés y qué podemos hacer nosotros por vos.
                </div>
            </div>
            <div class="below-chat-box">
                <div class="footer-contact"><a href="/contact">Contactános</a></div>
            </div>
        </div>
        <div class="footer-right proxima-nova-condensed">
            <div class="footer-chat-box">
                <div class="footer-title">PROXIMAMENTE</div>
                <div class="proximamente">
                    Estamos por abrir una nueva sede en Zona Norte, queremos conocerte y que nos conozcas.
                </div>
            </div>
            <div class="below-chat-box">
                <div class="footer-contact"><a href="/contact">Contactános</a></div>
            </div>
        </div>
    </div>