<div class="top">
        <div class="logo">
            <h1 style="margin:0;padding:0;">
                <a href="/">
                    <img src="/images/logo.png" alt="Método DeRose Zona Norte">
                </a>
            </h1>
        </div>
        <div class="top-right proxima-nova-condensed">
            <div><a href="/swasthya-yoga">SwáSthya Yôga</a></div>
            <div><a href="/nosotros">Nosotros</a></div>
            <div><a href="/empresas">Empresas</a></div>
            <div><a href="/clases-particulares">Clases particulares</a></div>
            <div><a href="/contacto">Contactános</a></div>
        </div>
    </div>