<div class="top">
        <a href="/">
          <h1 class="logo">
              SwáSthya en Martínez
          </h1>
        </a>
        <ul class="menu top-right proxima-nova-condensed">
            <li><a href="http://blog.yogaenmartinez.com.ar" target="_blank">Blog</a></li>
            <li><a href="/swasthya">SwáSthya</a></li>
            <li><a href="/escuela">La escuela</a>
              <ul>
                <li><a href="/imagenes">Imágenes</a></li>
                <li><a href="/escuela#horarios">Horarios</a></li>
                <li><a href="/escuela#actividades">Actividades</a></li>
                <li><a href="/formacion-profesional">Formación Profesional</a></li>
              </ul>
            </li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/empresas">Empresas</a></li>
            <li><a href="/clases-particulares">Clases particulares</a></li>
            <li><a href="/contacto">Contactános</a></li>
        </ul>
    </div>