<div style="width: 600px; margin: 0 auto; text-align: justify; background-color: snow;">

  <table background="http://yogaenmartinez.com.ar/images/mail_header.png" style="margin-bottom: 20px; width: 100%; height: 237px; border: 0; empty-cells: show; border-collapse: collapse; table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
    <tr></tr>
  </table>

  <div style="font-size:1.2em">

    <p>Hola<%= " #{@name}" unless @name.blank? %>:</p>

    <p>Gracias por habernos contactado. En este e-mail encontrarás información sobre
      <a href="http://yogaenmartinez.com.ar">SwáSthya en Martínez</a>.</p>

    <p>Dictamos prácticas para inciantes y avanzados, además de clases semanales de meditación, mantra y mentalización,
      entre otras. Las clases se inician a las 8 hs., y la última comienza a las 20 hs., aunque para poder explicarte en
      forma más detallada sobre horarios, disponibilidad de vacantes y valores, es mejor que pases a visitarnos.</p>

    <p>Te esperamos en
      <a href="http://maps.google.com.ar/maps?hl=es&q=Arenales+1983,+Martinez&bav=on.2,or.r_gc.r_pw.&biw=1366&bih=667&um=1&ie=UTF-8&hq=&hnear=0x95bcb1a8ed2d5295:0x98d7e7d60f8f1c0b,Arenales+1983,+Mart%C3%ADnez,+Buenos+Aires&gl=ar&ei=xwpDTvbQGMr40gGp5rWwCQ&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CBwQ8gEwAA" target="_blank">Arenales
        1983</a> (esquina Alvear) para explicarte en una entrevista personalizada nuestra propuesta integral de Calidad
      de Vida. Podés confirmar tu visita al tel. 4733-3801, así te recibimos con un chai (té especiado de la india).</p>

    <h2>Nuestro Método</h2>

    <p>El SwáSthya enseña cómo respirar mejor, cómo relajarse, cómo concentrarse, cómo trabajar los músculos,
      articulaciones, nervios, glándulas, etc., a través de técnicas corporales bellísimas, fuertes, pero que respetan
      el ritmo biológico del practicante. La práctica completa del Método comprende ocho tipos de técnicas que, sin ser
      actividad física ni deportiva, promueven un perfeccionamiento multilateral del practicante.</p>

    <h2>Nuestra casa
    </h2>

    <p>
      Nuestra casa es un espacio de cultura y bienestar. Un ambiente donde podrás participar de conferencias, cursos y
      workshops sobre comportamiento, gastronomía, etiqueta y filosofía oriental, así como tomar clases de respiración,
      relajación, meditación, mantras, técnicas orgánicas, tanto en grupo como con personal trainer.
    </p>

    <p>
      Nuestra sala está especialmente adaptada para la práctica, cuenta con un piso adecuado e iluminación específica
      para disfrutar al máximo las técnicas. Hay espacio para cambiarse de ropa y también una sala para aguardar en
      buena compañía el inicio de tu práctica o pasar unos agradables momentos de descontracción entre amigos después de
      ella.
    </p>

    <h2>
      Nuestros instructores
    </h2>

    <p>
      Garantizamos la excelencia técnica de nuestros instructores. Los profesionales que formamos tienen certificado de
      habilitación (en el nivel de extensión universitaria) expedido por la Universidad Tecnológica Nacional. Son
      evaluados y revalidados anualmente.
    </p>

    <p>
      Para conocer más, visitá nuestro site en el que podrás hacer free download de libros y CDs de práctica:
      <a href="http://www.metododerose.org">www.MetodoDeRose.org</a>
    </p>

  </div>

  <div style="text-align: right">
    <img src='http://yogaenmartinez.com.ar/images/mail_firma_nat.png' title='Firma'/><br/>
    <b style="font-size: 1.2em">Natalia Sanmartín Gil</b><br/>
    <span style="font-size:0.9em">Directora</span><br/>
    <a href="http://yogaenmartinez.com.ar">SwáSthya en Martínez</a>
  </div>


  <table background="http://yogaenmartinez.com.ar/images/mail_footer.png" style="margin-top: 20px; width: 100%; min-height: 100px; border: 0; empty-cells: show; border-collapse: collapse; table-layout: fixed; color: white;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr style="padding:10px;">
      <td style="font-size: 1.5em; width: 200px; min-height: 100px; padding: 10px;">Arenales 1983<br/> Tel. 4733-3801
      </td>
      <td style="min-height:100px"></td>
      <td style="text-align: right; min-height: 100px; width: 350px; padding: 10px;">
        <a style="margin-bottom:10px; font-weight:bold; font-size:1.5em; text-decoration:none; color: white;" href="http://yogaenmartinez.com.ar">
          www.Y&ocirc;gaenMartinez.com.ar </a><br/>
        <a style="width: 10px; height: 10px; margin: 5px; text-decoration: none;" href="http://twitter.com/SwasthyaMTZ">
          <img title="Twitter" src="http://yogaenmartinez.com.ar/images/twitter.png" alt=""/> </a>
        <a style="width: 10px; height: 10px; margin: 5px; text-decoration: none;" href="http://facebook.com/SwaSthyaEnMartinez">
          <img title="Facebook" src="http://yogaenmartinez.com.ar/images/facebook.png" alt=""/> </a>
        <a style="width: 10px; height: 10px; margin: 5px; text-decoration: none;" href="http://www.youtube.com/user/DeRoseMetodo">
          <img title="YouTube" src="http://yogaenmartinez.com.ar/images/youtube.png" alt=""/> </a>
        <a style="width: 10px; height: 10px; margin: 5px; text-decoration: none;" href="http://blog.yogaenmartinez.com.ar">
          <img title="Blog" src="http://yogaenmartinez.com.ar/images/rss.png" alt=""/> </a></td>
    </tr>
    </tbody>
  </table>
</div>