<div class="contact-wrap particulares">
	<div class="clear"></div>
	<div class="contact-middle">

      <div class="contact-middle-margin">
			<div class="contact-text league-gothic"><h2>Clases particulares</h2></div>
            <div class="tour-line"></div>
            <p>Contamos con un equipo de instructores altamente capacitado para ofrecer prácticas de SwáSthya personalizadas con la mayor privacidad, practicidad y disponibilidad de horarios.</p>
            <p>Nuestro servicio de SwáSthya - <i>Personal Training</i>, es ideal para artistas plásticos, actores, intelectuales, empresarios de renombre y otras personalidades que prefieren las ventajas de contar con una atención particular ya sea en nuestra sede, en casa o durante sus viajes.</p>
            <p>Ofrecemos clases en español, inglés y portugués.</p>
            <p>Para mayor información <a href="/contacto">contactános</a>.</p>
	  </div>
	  <div class="clear"></div>
      <img src="/images/personal.png" alt="personal">
	</div>

</div>