<div class="contact-wrap">
	<div class="clear"></div>
	<div class="contact-middle">

	<form action="/contact" method="post" id="contact_form">
      <div class="contact-middle-margin">
			<div class="contact-text league-gothic"><h2>Contactános</h2></div>
            <div class="tour-line"></div>

            <div class="error request-text" style="margin-top: 5px; color: red;"><%= @notice %></div>
            <div class="success request-text" style="margin-top: 5px; color: green;"><%= @success %></div>

			<div class="contact-question proxima-nova-condensed">NOMBRE</div>
			<div class="contact-answer">
				<input class="ca-text-field" name="name" id="Contact_name" type="text" value="" />			</div>
			<div class="contact-question proxima-nova-condensed">EMAIL</div>
			<div class="contact-answer">
				<input class="ca-text-field" name="email" id="Contact_email" type="text" value="" />			</div>
			<div class="contact-question proxima-nova-condensed">TELEFONO</div>
			<div class="contact-answer">
				<input class="ca-text-field" name="phone" id="Contact_phone" type="text" value="" />			</div>
			<div class="contact-question proxima-nova-condensed">ME CONTACTO POR</div>
			<div class="contact-answer">
				<select name="contactReason" id="Contact_contactReason">
<option value="-">Seleccionar...</option>
<option value="Clases particulares">Clases particulares</option>
<option value="Clases para empresas">Clases para empresas</option>
<option value="Formación profesional">Formación profesional</option>
<option value="Informacion ONGs">Informacion para ONGs</option>
<option value="Otro">Otro</option>
</select>			</div>
			<div class="contact-question proxima-nova-condensed">MENSAJE</div>
			<div class="contact-answer">
				<textarea class="ca-text-area" name="message" id="Contact_details"></textarea>			</div>
			<div class="contact-answer" style="margin: 10px 0pt; height: 65px;">
				<div style="float:right;"><a href="#" class="league-gothic" onclick="$('#contact_form').submit();"><span class="medium button left"></span><span class="medium button center">Enviar</span><span class="medium button right"></span></a></div>
			</div>
		</div>
		<div class="clear"></div>
	</form>
	</div>

</div>