<div class="tour-wrap">
	<div class="clear"></div>
    <div class="tour">
      <div style="height:80px;"></div>
	<div class="tour-left">

	<form action="/contacto" method="post" id="contact_form">
      <div class="contact-middle-margin">
			<div class="contact-text league-gothic"><h2>Contactános</h2></div>
            <div class="tour-line"></div>

            <div class="error request-text" style="margin-top: 5px; color: red;"><%= @notice %></div>
            <div class="success request-text" style="margin-top: 5px; color: green;"><%= @success %></div>

			<div class="contact-question proxima-nova-condensed">NOMBRE</div>
			<div class="contact-answer">
				<input class="ca-text-field" name="name" id="Contact_name" type="text" value="" />
            </div>
			<div class="contact-question proxima-nova-condensed">E-MAIL</div>
			<div class="contact-answer">
				<input class="ca-text-field" name="email" id="Contact_email" type="text" value="" />
            </div>
			<div class="contact-question proxima-nova-condensed">TELÉFONO</div>
			<div class="contact-answer">
				<input class="ca-text-field" name="phone" id="Contact_phone" type="text" value="" />
            </div>
			<div class="contact-question proxima-nova-condensed">ME CONTACTO POR</div>
			<div class="contact-answer">
				<select name="contactReason" id="Contact_contactReason">
                    <option value="-">Seleccionar...</option>
                    <option value="Agendar mi primera clase">Agendar mi primera clase</option>
                    <option value="Clases particulares">Clases particulares</option>
                    <option value="Clases para empresas">Clases para empresas</option>
                    <option value="Formación profesional">Formación profesional</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div id="mensaje">
                <div class="contact-question proxima-nova-condensed">MENSAJE</div>
                <div class="contact-answer">
                    <textarea class="ca-text-area" name="message" id="Contact_details"></textarea>
                </div>
            </div>
			<div class="contact-answer" style="margin: 10px 0pt; height: 65px;">
				<div style="float:right;"><a rel="nofollow" href="#" class="league-gothic" onclick="$('#contact_form').submit();"><span class="medium button">Enviar</span></a></div>
			</div>
		</div>
		<div class="clear"></div>
	</form>
	</div>
    <div class="tour-right">
      <div class="side-tour-nav">
        <div class="sprite stn-top"></div>
        <div class="stn-middle proxima-nova-condensed">
            <div class="navigate-tour"><b>SwáSthya Sede Martinez</b></div>
            <div class="navigate-tour">Arenales 1983 (esq. Alvear), Martinez.</div>
            <div class="navigate-tour">tel. 4733-3801</div>
        </div>
        <div class="sprite stn-bottom"></div>
      </div>
    </div>
    </div>
</div>