<div class="tour-wrap">
	<div class="clear"></div>
    <div class="tour">
      <div style="height:80px;"></div>
	<div class="tour-left">

	<form action="/contacto" method="post" id="contact_form">
      <div class="contact-middle-margin">
			<div class="contact-text league-gothic"><h2>Contactános</h2></div>
            <div class="tour-line"></div>

            <div class="error request-text" style="margin-top: 5px; color: red;"><%= @notice %></div>
            <div class="success request-text" style="margin-top: 5px; color: green;"><%= @success %></div>

			<div class="contact-question proxima-nova-condensed">NOMBRE</div>
			<div class="contact-answer">
				<input class="ca-text-field" name="name" id="Contact_name" type="text" value="" />
            </div>
			<div class="contact-question proxima-nova-condensed">E-MAIL</div>
			<div class="contact-answer">
				<input class="ca-text-field" name="email" id="Contact_email" type="text" value="" />
            </div>
			<div class="contact-question proxima-nova-condensed">TELÉFONO</div>
			<div class="contact-answer">
				<input class="ca-text-field" name="phone" id="Contact_phone" type="text" value="" />
            </div>
			<div class="contact-question proxima-nova-condensed">ME CONTACTO POR</div>
			<div class="contact-answer">
				<select name="contactReason" id="Contact_contactReason">
                    <option value="-">Seleccionar...</option>
                    <option value="prueba">Agendar mi primera clase</option>
                    <option value="articulares">Clases particulares</option>
                    <option value="empresas">Clases para empresas</option>
                    <option value="formacion">Formación profesional</option>
                    <option value="otro">Otro</option>
                </select>
            </div>
            <div id="contact_empresa_wrapper">
              <div class="contact-question proxima-nova-condensed">NOMBRE DE LA EMPRESA</div>
              <div class="contact-answer">
                <input class="ca-text-field" name="empresa" id="Contact_empresa" type="text" value="" />
              </div>
            </div>
            <div id="contact_horarios_wrapper">
              <div class="contact-question proxima-nova-condensed">HORARIOS <a  id="horarios_lightbox_link" href="/images/horarios.jpg">(ver horarios)</a></div>
              <div class="contact-answer" id="contact_horarios">
                <input type="checkbox" name="8hs"/><label>8hs</label>
                <input type="checkbox" name="18hs"/><label>18hs</label>
                <input type="checkbox" name="19hs"/><label>19hs</label>
                <input type="checkbox" name="20hs"/><label>20hs</label>
                <p>Si preferís practicar en otro horario, avisanos! </p>
              </div>
            </div>
            <div id="mensaje">
                <div class="contact-question proxima-nova-condensed">MENSAJE <a id="show_message_link" href="#">(mostrar)</a></div>
                <div class="contact-answer" id="contact_message">
                    <textarea class="ca-text-area" name="message" id="Contact_details"></textarea>
                </div>
            </div>
			<div class="contact-answer" style="margin: 10px 0pt; height: 65px;">
				<div style="float:right;"><a rel="nofollow" href="#" class="league-gothic" onclick="$('#contact_form').submit();"><span class="medium button">Enviar</span></a></div>
			</div>
		</div>
		<div class="clear"></div>
	</form>
	</div>
    <div class="tour-right">
      <div class="side-tour-nav">
        <div class="sprite stn-top"></div>
        <div class="stn-middle proxima-nova-condensed">
            <div class="navigate-tour"><b>SwáSthya Sede Martinez</b></div>
            <div class="navigate-tour">Arenales 1983 (esq. Alvear), Martinez.</div>
            <div class="navigate-tour">tel. 4733-3801</div>
        </div>
        <div class="sprite stn-bottom"></div>
      </div>
    </div>
    </div>
</div>