<div class='tour-wrap'>
  <div class='tour'>
  <div style='height: 80px;'></div>
  <div class="tour-left">
      <div class="clear"></div>
      <div class="tour-item" title='introduccion'>
        <a name='introduccion' id='introduccion'></a>
        <div class="contact-text league-gothic"><h2>Yôga Laboral</h2></div>
        <div class="tour-line"></div>
        <p>Ofrecemos el Programa de SwáSthya Yôga en las Empresas, para mejorar la calidad de vida de los trabajadores, generar crecimiento de la productividad y reducir costos por enfermedades de trabajo y ausentismo.
        <p>Nuestro proyecto tiene una propuesta diferente de las demás. Se trata de un método práctico y dinámico, que aplica técnicas milenarias de Yôga Antiguo para prevenir de forma eficaz las lesiones y enfermedades de trabajo, además de proporcionar un notable incremento en la vitalidad y la calidad de vida del practicante.</p>
        <p>El Programa de SwáSthya Yôga en las Empresas desempeña cada vez más un papel decisivo en la salud de los trabajadores, generando mejores condiciones para la actividad que realizan.</p>
        <p>Empresas e instituciones radicadas en Argentina como Exxon Mobil, Esso S.A.P.A., OSDIPP, Samsung, Avon, Inelectra, Banco Itaú, Visa, Osde, Oracle, Banco Columbia, Park Hyatt Buenos Aires, EPSA, Flehner Films, Publi Revistas, CGP2 Norte (GCBA), Colegio Nacional de Buenos Aires, Universidad Tecnológica Nacional (UTN),  Instituto Tecnológico de Buenos Aires (ITBA),  Fundación Konex, Centro Cultural Borges, Le Parc Club, Red Megatlón, Red Sport Club, y muchas otras radicadas en Brasil y en el mundo, tales como Petrobrás, Banco Do Brasil, Shell, Loshpe Maxion, DuPont, Merrel Lepetit, Ishibrás, etc; vienen descubriendo las ventajas que puede proporcionar el SwáSthya Yôga.</p>
      </div>
      <div class="tour-item"  title='objetivos'>
        <a name='objetivos' id='objetivos'></a>

        <div class='whats-here-poeple georgia'>Objetivos generales</div>

            <p>Incorporar en el mercado una propuesta de prevención de enfermedades del trabajo, diferente de las demás alternativas en uso. No trabajando como actividad terapéutica, sino como un entrenamiento para aumentar la calidad de vida de empleados y empresarios, con miras al crecimiento y la productividad y reduciendo considerablemente los efectos negativos del estrés diario.</p>
            <p>Aumenta:
              <ul>
                <li>La autoestima de los practicantes.</li>
                <li>La flexibilidad articular y la elasticidad muscular.</li>
                <li>El grado de satisfacción en el trabajo.</li>
                <li>La motivación y creatividad.</li>
                <li>La capacidad inmunológica.</li>
                <li>La concentración.</li>
                <li>La expectativa de vida.</li>
                <li>La capacidad pulmonar.</li>
              </ul>
            </p>
            <p>Mejora:
              <ul>
                <li>La calidad de vida y la salud en general.</li>
                <li>El funcionamiento de los sistemas orgánicos.</li>
                <li>La calidad del sueño.</li>
                <li>La calidad de la alimentación.</li>
              </ul>
            </p>
            <p>Proporciona:
              <ul>
                <li>Administración de los niveles de estrés.</li>
                <li>Reeducación respiratoria.</li>
              </ul>
            </p>
            <p style="margin-top:10px;"><b>Objetivo de la práctica:</b></br>
              Reducir las tensiones, tonificar la musculatura, estimular la interacción del grupo, generar una rápida oxigenación del cerebro y vascularización de los tejidos. Elevar el nivel de energía del practicante y su capacidad productiva.
            </p>
      </div>
      <div class="tour-item"  title='metodologia'>
        <a name='metodologia' id='metodologia'></a>

        <div class='whats-here-poeple georgia'>Metodología</div>

        <p>El método está compuesto por una gran cantidad de técnicas. Las más importantes son: mudrá (lenguaje gestual), pújá (retribución de energía), mantra (vocalizaciones de sonidos y ultrasonidos), pránáyáma (ejercicios respiratorios), kriyá (técnicas de limpieza orgánica), ásana (técnicas corporales), yôganidrá (técnicas de descontracción), samyama (concentración y meditación entre otros).</p>
        <p>A lo largo de este curso el instructor utilizará aquellas técnicas que se adapten mejor a los practicantes y a sus necesidades específicas. Entre ellas destacamos las siguientes:</p>
        <p><b>Ásana:</b> es el entrenamiento corporal a través de más de técnicas corporales inteligentes, realizadas sin repetición, de manera estética, sin producir cansancio y generando más energía y vitalidad. Por medio de las coreografías se alcanza mayor conciencia corporal y coordinación motora.</p>
        <p><b>Pránáyáma:</b> constituye la captación, expansión y asimilación de la bioenergía a través de ejercicios respiratorios. El método utiliza para ello 58 respiratorios diferentes que se enseñarán en este curso.</p>
        <p><b>Kriyá:</b> son las técnicas de purificación del organismo. Por medio de diversas técnicas se logra purificar y proveer de mayor volumen de sangre a los tejidos y órganos internos.</p>
        <p><b>Yôganidrá:</b> es la etapa de relax. Para ello, el método cuenta con una serie de técnicas que permiten que el practicante alcance la máxima descontracción y la asimilación de todos los efectos de la práctica, lo que genera una mayor vitalidad.</p>
        <p><b>Samyama:</b> son ejercicios que trabajan sobre la concentración y meditación para luego alcanzar estados más expandidos de conciencia.</p>
      </div>
      <div class="tour-item"  title='programas'>
        <a name='programas' id='programas'></a>

        <div class='whats-here-poeple georgia'>Programas</div>

        <p>El Programa de SwáSthya Yôga Laboral para las empresas ofrece distintas alternativas para su implementación práctica:</p>
        <p><b>A) Clases personalizadas de 55 minutos</b> de duración, destinadas especialmente a los directivos y ejecutivos que lideran las empresas, adaptando las técnicas y el formato de la práctica a las necesidades del practicante. La frecuencia sugerida es de dos o más clases por semana.</p>
        <p><b>B) Clases grupales de 55 minutos</b> de duración. La frecuencia sugerida es de dos clases por semana.
        </p>
        <p><b>C) Clases grupales de 15 a 20 minutos</b> de duración, realizadas en el mismo lugar de trabajo, sin necesidad de cambiarse de ropa. La frecuencia mínima sugerida es de dos clases por semana, sin límite de participantes.</p>
        <p>Se ofrece una disertación previa de presentación del método en forma gratuita. Para el caso de los planes A o B, la primera semana de clases sin cargo en forma experimental.</p>
      </div>
      <div class="tour-item"  title='servicios'>
        <a name='servicios' id='servicios'></a>

        <div class='whats-here-poeple georgia'>Otros servicios</div>
        <ul>
          <li>Clases en idioma portugués, inglés y español.</li>
          <li>Cursos y seminarios sobre:
            <ul>
                <li>Administración del estrés.</li>
                <li>Concentración.</li>
                <li>Respiración.</li>
                <li>Fuerza, flexibilidad y resistencia.</li>
                <li>Descontracción y relax.</li>
                <li>Alimentación biológica.</li>
                <li>Limpieza y desintoxicación orgánica.</li>
            </ul>
          </li>
        </ul>
      </div>
      <div style='height: 80px;'></div>
  </div>

  <div class="tour-right">
  <div class="side-tour-nav">
    <div class="sprite stn-top"></div>
    <div class="stn-middle proxima-nova-condensed">
      <div class="navigate-tour">Yôga Laboral</div>
      <div class="stn-middle-solid">
        <a href="#introduccion" class="anchorLink" id="intro_link">
          <script type="text/javascript">
            $('#intro_link').click(function(){
            var target_offset = $("#introduccion").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Introducción</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#objetivos" class="anchorLink" id="objetivos_link">
          <script type="text/javascript">
            $('#objetivos_link').click(function(){
            var target_offset = $("#objetivos").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Objetivos</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#metodologia" class="anchorLink" id="metodologia_link">
          <script type="text/javascript">
            $('#metodologia_link').click(function(){
            var target_offset = $("#metodologia").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Metodología</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#programas" class="anchorLink" id="programas_link">
          <script type="text/javascript">
            $('#programas_link').click(function(){
            var target_offset = $("#programas").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Programas</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#servicios" class="anchorLink" id="servicios_link">
          <script type="text/javascript">
            $('#servicios_link').click(function(){
            var target_offset = $("#servicios").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Otros servicios</div>
        </a>
      </div>
    </div>

    <div class="sprite stn-bottom"></div>
  </div>
  </div>

  </div>

  <div class="clear"></div>
</div>