<div class='tour-wrap'>
  <div class='tour'>
  <div style='height: 80px;'></div>
  <div class="tour-left">
  <div class="clear"></div>
  <div class="contact-text league-gothic"><h2>La escuela</h2></div>
  <div class="tour-line"></div>
  <div class="tour-item" title='horarios'>
    <a name='horarios' id='horarios'></a>
    <div class='whats-here-poeple georgia'>Horarios</div>
    <a id="horarios_lightbox_link" href="/images/horarios.jpg"><img src="/images/horarios.jpg" style="margin-top: 10px;" /></a>
  </div>
  <a name='actividades' id='actividades'></a>

  <div class="tour-item" title='iniciantes'>
    <a name='iniciantes' id='iniciantes'></a>

    <div class='whats-here-poeple georgia'>Iniciantes</div>

    <p>En grupos pequeños, con seguimiento personalizado de cada alumno, la clase para iniciantes es ideal para quien no tiene experiencia previa. Está compuesta por posiciones corporales, técnicas de limpieza orgánica, respiratorios y técnicas de descontracción. Posee una estructura padronizada, si bien el contenido que se transmite en cada una es único, ya que trabajamos con un acervo de más de dos mil ejercicios. Se enfatiza el desarrollo de la autosuficiencia en el practicante, confiriéndole las herramientas para que pueda aplicar lo aprendido en su vida cotidiana.</p>

  </div>

  <div class="tour-item" title='swasthya'>
    <a name='swasthya' id='swasthya'></a>

    <div class='whats-here-poeple georgia'>SwáSthya</div>

    <p>La columna vertebral de Nuestro Método es una práctica intensa y poderosa, extremadamente completa, de una hora de duración. Está integrada por ocho partes: gestos hechos con las manos, tránsito energético, vocalización de sonidos y ultrasonidos, respiratorios, limpieza orgánica, técnicas corporales, de descontracción y meditación.</p>

  </div>

  <div class="tour-item" title='curso-basico'>
    <a name='curso-basico' id='curso-basico'></a>

    <div class='whats-here-poeple georgia'>Curso Básico</div>

    <p>De marzo a diciembre, 32 clases teóricas dictadas por nuestra Directora. Esta actividad es el complemento necesario para las clases prácticas, y la en ella participación es indispensable para quienes estén inscriptos en los módulos de Formación Profesional. En forma bimestral, un repaso de las clases es dictado por el Maestro Edgardo Caramella.</p>

  </div>

  <div class="tour-item" title='mentalizacion'>
    <a name='mentalizacion' id='mentalizacion'></a>

    <div class='whats-here-poeple georgia'>Círculo de mentalización</div>

    <p>La práctica más poderosa del mes: aprovechamos la energía del grupo para realizar poderosas mentalizaciones individuales y colectivas.</p>

  </div>

  <div class="tour-item" title='coreografia'>
    <a name='coreografia' id='coreografia'></a>

    <div class='whats-here-poeple georgia'>Coreografía</div>

    <p>Un grupo de entrenamiento cuyo objetivo es explorar la característica coreográfica de nuestra práctica, aumentando la fuerza y la flexibilidad del alumno,  estimulando la creatividad y la conciencia estética de los movimientos de enlace entre las diferentes técnicas corporales. La meta es que cada participante llegue a montar y entrenar su propia secuencia de técnicas.</p>

  </div>

  <div class="tour-item" title='meditacion'>
    <a name='meditacion' id='meditacion'></a>

    <div class='whats-here-poeple georgia'>Meditación</div>

    <p>Una clase semanal en la que se aprenden técnicas ancestrales de concentración y meditación, con el objetivo de expandir la conciencia.</p>

  </div>

  <div class="tour-item" title='mantra'>
    <a name='mantra' id='mantra'></a>

    <div class='whats-here-poeple georgia'>Mantra</div>

    <p>En esta clase exploramos las ancestrales técnicas de vocalización de sonidos y ultrasonidos. Los diferentes tipos de mantra y sus efectos se analizan, aprenden y practican semana tras semana.</p>

  </div>


  <div class="tour-item" title='entrenamiento'>
    <a name='entrenamiento' id='entrenamiento'></a>

    <div class='whats-here-poeple georgia'>Entrenamiento</div>

    <p>Un plus de fuerza, poder y energía en este poderoso grupo, que utiliza las técnicas corporales como un recurso para la evolución. Es el complemento ideal para quien participa de la clase de coreografía.</p>

  </div>

  <div class="tour-item" title='circulo-de-lectura'>
    <a name='circulo-de-lectura' id='circulo-de-lectura'></a>

    <div class='whats-here-poeple georgia'>Círculo de lectura</div>

    <p>La bibliografía recomendada de nuestra Escuela, estudiada con todo detalle en una lectura minuciosa y dedicada.</p>

  </div>

  <div class="tour-item" title='gourmet'>
    <a name='gourmet' id='gourmet'></a>

    <div class='whats-here-poeple georgia'>Cena y cine</div>

    <p>Una deliciosa comida gourmet sin carnes, una buena película y, de vez en cuando, juegos en grupo, son la excusa perfecta para conocernos, confraternizar y, mientras tanto, aprender más sobre Nuestra Cultura.</p>

  </div>

    <div style='height: 350px;'></div>
  </div>


  <div class="tour-right" style="margin-top: -40px;">
  <div class="side-tour-nav">
    <div class="sprite stn-top"></div>
    <div class="stn-middle proxima-nova-condensed">
      <div class="navigate-tour">SwáSthya en Martínez</div>
      <div class="stn-middle-solid">
        <a href="#horarios" class="anchorLink" id="horarios_link">
          <script type="text/javascript">
            $('#horarios_link').click(function(){
            var target_offset = $("#horarios").offset();
		        var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Horarios</div>
        </a>
      </div>
      <div class="navigate-tour">Actividades</div>
      <div class="stn-middle-solid">
        <a href="#iniciantes" class="anchorLink" id="iniciantes_link">
          <script type="text/javascript">
            $('#iniciantes_link').click(function(){
            var target_offset = $("#iniciantes").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Iniciantes</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#swasthya" class="anchorLink" id="swasthya_link">
          <script type="text/javascript">
            $('#swasthya_link').click(function(){
            var target_offset = $("#swasthya").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>SwáSthya</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#curso-basico" class="anchorLink" id="curso-basico_link">
          <script type="text/javascript">
            $('#curso-basico_link').click(function(){
            var target_offset = $("#curso-basico").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Curso Básico</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#mentalizacion" class="anchorLink" id="mentalizacion_link">
          <script type="text/javascript">
            $('#mentalizacion_link').click(function(){
            var target_offset = $("#mentalizacion").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Mentalización</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#coreografia" class="anchorLink" id="coreografia_link">
          <script type="text/javascript">
            $('#coreografia_link').click(function(){
            var target_offset = $("#coreografia").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Coreografía</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#meditacion" class="anchorLink" id="meditacion_link">
          <script type="text/javascript">
            $('#meditacion_link').click(function(){
            var target_offset = $("#meditacion").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Meditación</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#mantra" class="anchorLink" id="mantra_link">
          <script type="text/javascript">
            $('#mantra_link').click(function(){
            var target_offset = $("#mantra").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Mantra</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#entrenamiento" class="anchorLink" id="entrenamiento_link">
          <script type="text/javascript">
            $('#entrenamiento_link').click(function(){
            var target_offset = $("#entrenamiento").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Entrenamiento</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#circulo-de-lectura" class="anchorLink" id="lectura_link">
          <script type="text/javascript">
            $('#lectura_link').click(function(){
            var target_offset = $("#circulo-de-lectura").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Círculo de lectura</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#gourmet" class="anchorLink" id="gourmet_link">
          <script type="text/javascript">
            $('#gourmet_link').click(function(){
            var target_offset = $("#gourmet").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Cena y cine</div>
        </a>
      </div>
    </div>

    <div class="sprite stn-bottom"></div>
  </div>
  </div>

  </div>

  <div class="clear"></div>
</div>