<div class='tour-wrap'>
  <div class='tour'>
  <div style='height: 80px;'></div>
  <div class="tour-left">
  <div class="clear"></div>
  <div class="contact-text league-gothic"><h2>La escuela</h2></div>
  <div class="tour-line"></div>
  <div class="tour-item" title='horarios'>
    <a name='horarios' id='horarios'></a>
    <div class='whats-here-poeple georgia'>Horarios</div>
    <img src="/images/horarios.png" width=680 />
  </div>
  <a name='actividades' id='actividades'></a>
  <div class="tour-item" title='swasthya'>
    <a name='swasthya' id='swasthya'></a>

    <div class='whats-here-poeple georgia'>SwáSthya</div>

    <div class="tour-item"  title='swasthya'>
      <p>Una práctica sumamente completa, integrada por ocho modalidades de técnicas</p>
    </div>
  </div>

  <div class="tour-item" title='iniciantes'>
    <a name='iniciantes' id='iniciantes'></a>

    <div class='whats-here-poeple georgia'>Iniciantes</div>

    <div class="tour-item"  title='swasthya'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="tour-item" title='curso-basico'>
    <a name='curso-basico' id='curso-basico'></a>

    <div class='whats-here-poeple georgia'>Curso Básico</div>

    <div class="tour-item"  title='curso-basico'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="tour-item" title='mentalizacion'>
    <a name='mentalizacion' id='mentalizacion'></a>

    <div class='whats-here-poeple georgia'>Círculo de mentalización</div>

    <div class="tour-item"  title='mentalizacion'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="tour-item" title='coreografia'>
    <a name='coreografia' id='coreografia'></a>

    <div class='whats-here-poeple georgia'>Coreografía</div>

    <div class="tour-item"  title='coreografía'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="tour-item" title='meditacion'>
    <a name='meditacion' id='meditacion'></a>

    <div class='whats-here-poeple georgia'>Meditación</div>

    <div class="tour-item"  title='meditacion'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="tour-item" title='mantra'>
    <a name='mantra' id='mantra'></a>

    <div class='whats-here-poeple georgia'>Mantra</div>

    <div class="tour-item"  title='mantra'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>


  <div class="tour-item" title='entrenamiento'>
    <a name='entrenamiento' id='entrenamiento'></a>

    <div class='whats-here-poeple georgia'>Entrenamiento</div>

    <div class="tour-item"  title='entrenamiento'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="tour-item" title='circulo-de-lectura'>
    <a name='circulo-de-lectura' id='circulo-de-lectura'></a>

    <div class='whats-here-poeple georgia'>Círculo de lectura</div>

    <div class="tour-item"  title='circulo-de-lectura'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

    <div style='height: 350px;'></div>
  </div>


  <div class="tour-right">
  <div class="side-tour-nav">
    <div class="sprite stn-top"></div>
    <div class="stn-middle proxima-nova-condensed">
      <div class="navigate-tour">SwáSthya en Martínez</div>
      <div class="stn-middle-solid">
        <a href="#horarios" class="anchorLink" id="horarios_link">
          <script type="text/javascript">
            $('#horarios_link').click(function(){
            var target_offset = $("#horarios").offset();
		        var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Horarios</div>
        </a>
      </div>
      <div class="navigate-tour">Actividades</div>
      <div class="stn-middle-solid">
        <a href="#swasthya" class="anchorLink" id="swasthya_link">
          <script type="text/javascript">
            $('#swasthya_link').click(function(){
            var target_offset = $("#swasthya").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>SwáSthya</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#iniciantes" class="anchorLink" id="iniciantes_link">
          <script type="text/javascript">
            $('#iniciantes_link').click(function(){
            var target_offset = $("#iniciantes").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Iniciantes</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#curso-basico" class="anchorLink" id="curso-basico_link">
          <script type="text/javascript">
            $('#curso-basico_link').click(function(){
            var target_offset = $("#curso-basico").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Curso Básico</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#mentalizacion" class="anchorLink" id="mentalizacion_link">
          <script type="text/javascript">
            $('#mentalizacion_link').click(function(){
            var target_offset = $("#mentalizacion").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Mentalización</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#coreografia" class="anchorLink" id="coreografia_link">
          <script type="text/javascript">
            $('#coreografia_link').click(function(){
            var target_offset = $("#coreografia").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Coreografía</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#meditacion" class="anchorLink" id="meditacion_link">
          <script type="text/javascript">
            $('#meditacion_link').click(function(){
            var target_offset = $("#meditacion").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Meditación</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#mantra" class="anchorLink" id="mantra_link">
          <script type="text/javascript">
            $('#mantra_link').click(function(){
            var target_offset = $("#mantra").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Mantra</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#entrenamiento" class="anchorLink" id="entrenamiento_link">
          <script type="text/javascript">
            $('#entrenamiento_link').click(function(){
            var target_offset = $("#entrenamiento").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Entrenamiento</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#circulo-de-lectura" class="anchorLink" id="lectura_link">
          <script type="text/javascript">
            $('#lectura_link').click(function(){
            var target_offset = $("#circulo-de-lectura").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Círculo de lectura</div>
        </a>
      </div>
    </div>

    <div class="sprite stn-bottom"></div>
  </div>
  </div>

  </div>

  <div class="clear"></div>
</div>