<div id="badge_content2" style="display:none;">
<div class="top-middle-wrap">
    <div class="top-middle">
        <div class="slogan league-gothic">
            <h2>Descarga nuestros libros gratuitos<br/>¡Conocé nuestra cultúra!</h2>
        </div>
        <div class="contact-btn league-gothic">
            <a onclick="$('#badge_content').hide();$('#badge_content2').show();"><span class="big button left"></span><span class="big button center">Conocenos</span><span class="big button right"></span></a>
        </div>
    </div>
</div>
<div class="bottom-middle-wrap">
    <div class="bottom-middle">
        <div class="request-form">
            <div class="request-text georgia">Ingresá tu e-mail para recibir más información (¡No hacemos spam!)</div>
            <div class="error request-text" style="margin-top: 5px; color: red;"><%= @notice %></div>
            <div class="success request-text" style="margin-top: 5px; color: green;"><%= @success %></div>
            <form action="/contacto" method="post" id="contact_form">
                <div style="margin: 10px 0px 0px;">
                    <input type="hidden" name="fb" value="true"/>
                    <div style="float:left"><input class="request-textfield georgia" name="email"
                                                   id="Subscriber_email" type="text" value=""></div>
                    <div class="league-gothic" style="float:left">
                        <a rel="nofollow" href="#" onclick="$('#contact_form').submit();"><span class="submit button center">Enviar</span><span class="submit button right"></span></a>
                    </div>
                </div>
            </form>
        </div>
        <fb:like></fb:like>
    </div>
</div>
</div>
<div id="badge_content">
<div class="top-middle-wrap">
    <div class="top-middle">
        <div class="slogan league-gothic">
            <h2>¿Qué hiciste por vos hoy?</h2>
        </div>
        <img src="/images/todo.gif"/>
    </div>
</div>

<div class="bottom-middle-wrap">
    <div class="bottom-middle">
        <div class="request-form">
            <div class="request-text georgia">Ingresá tu e-mail para recibir más información (¡No hacemos spam!)</div>
            <div class="error request-text" style="margin-top: 5px; color: red;"><%= @notice %></div>
            <div class="success request-text" style="margin-top: 5px; color: green;"><%= @success %></div>
            <form action="/contacto" method="post" id="contact_form2">
                <div style="margin: 10px 0px 0px;">
                    <input type="hidden" name="fb" value="true"/>
                    <div style="float:left"><input class="request-textfield georgia" name="email"
                                                   id="Subscriber_email2" type="text" value=""></div>
                    <div class="league-gothic" style="float:left">
                        <a rel="nofollow" href="#" onclick="$('#contact_form').submit();"><span class="submit button center">Enviar</span><span class="submit button right"></span></a>
                    </div>
                </div>
            </form>
        </div>
        <div class="like_button">
            <fb:like href="http://www.facebook.com/pages/Sw%C3%A1Sthya-Y%C3%B4ga-Martinez/131942976866386" show_faces="false" layout="box_count"></fb:like>
        </div>
        <div class="fanbox">
            <fb:fan profile_id="131942976866386"  stream="false" connections="18" width="403" height="360" css="http://yogaenmartinez.com.ar/stylesheets/combined-fb.css"></fb:fan>
        </div>
    </div>
</div>
</div>
<div id="request_content" style="display:none;">
    <div class="top-middle-wrap">
    <div class="top-middle">
        <div class="slogan league-gothic">
            <h2>¡Gracias!<br>¡Invitá a tus amigos a que nos conozcan!</h2>
        </div>
    </div>
    </div>
</div>

<div id="like_content" style="display:none;">
  <div class="top-middle-wrap">
    <div class="top-middle">
        <div class="slogan league-gothic">
            <h2>¡Gracias por ayudarnos a difundir esta maravillosa cultura!</h2>
        </div>
        <div class="contact-btn league-gothic">
            <a href="http://yogaenmartinez.com.ar" target="_blank"><span class="big button left"></span><span class="big button center">Visitános</span><span class="big button right"></span></a>
        </div>
    </div>
    </div>
  <div class="bottom-middle-wrap">
    <div class="bottom-middle">
      <div class="like_button">
          <fb:like href="http://www.facebook.com/pages/Sw%C3%A1Sthya-Y%C3%B4ga-Martinez/131942976866386" show_faces="false" layout="box_count"></fb:like>
      </div>
      <div class="fanbox">
          <fb:fan profile_id="131942976866386"  stream="false" connections="18" width="403" height="360" css="http://yogaenmartinez.com.ar/stylesheets/combined-fb.css"></fb:fan>
      </div>
    </div>
</div>
</div>