<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Yoga en Martinez<%= ": #{@page_title}" if @page_title %></title>

  <link rel="stylesheet" href="/stylesheets/combined.css" type="text/css">
  <!--[if IE]>
  <link rel="stylesheet" href="/stylesheets/combined-ie.css" type="text/css">
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/combined-fb.css" type="text/css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
  <!-- include Cycle plugin -->
  <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
  <script type="text/javascript" src="/javascripts/combined.js"></script>

  <% unless Sinatra::Application.development? %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20452305-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <% end %>

  <script type="text/javascript">
$(document).ready(function()
    {
       	// $.post("http://getbadg.es/metrics/metric/badges_free/816/num_views");
    });

function publish()
  {
	var url = 'https://www.facebook.com/pages/SwáSthya-Yôga-Martinez/131942976866386';
	var picture = 'http://yogaenmartinez.com.ar/images/logo-martinez.png';
	var name = "SwáSthya Yôga Martínez";
    var caption = "¿Qué hiciste por vos hoy?";
	var description = "Clases de Yôga en Martinez, calidad de vida, administración del stress, fuerza, flexibilidad y cultura.";
    var message = "¡Visiten el sitio de SwáSthya Yôga Martínez!";
	var actionLinks = [{ 'text': 'Publicar en mi perfil', 'href': url }];
	var properties = '';

	FB.ui({
		'method': 'feed',
		'name':name,
		'link' : url,
		'properties':  properties,
		'picture' : picture,
		'caption' : caption,
		'description' : description,
		'message' : message,
		'action_links': actionLinks }, function(response){
		  if (response == null || response == undefined || response == false) {
		  } else {
			  //$.post("http://getbadg.es/metrics/metric/badges_free/816/num_posts");

		  }
			fbInvite();
		}
      );
}
    </script>
    <script type="text/javascript">

    function invite(){
        if(jQuery.browser.safari){
            $('#badge_content').hide();
            $('#request_content').show();
        } else {
            fbInvite();
        }
    }
    function fbInvite(){
    //  $.post('http://momentusmedia.com/metric.php?name=nb_816_request_show');
        FB.ui({ method: 'apprequests',
                message: '¡Visitá el sitio de SwáSthya Yôga Martínez!',
          title: '¡Invitá a tus amigos a que nos conozcan!'
          }, function(response){
            if (response != null && response != undefined && response != false) {
              //$.post('http://getbadg.es/metrics/saverequests', {'request_ids':response.request_ids, 'data':{'redirect_url':'http://www.facebook.com/pages/Sw%C3%A1Sthya-Y%C3%B4ga-Martinez/131942976866386?sk=app_170192649677445'}});
              //$.post('http://momentusmedia.com/metric.php?name=nb_816_request_success_'+response.request_ids.length);
            } else {
              //$.post('http://momentusmedia.com/metric.php?name=nb_816_request_skip');
            }
            //$.post('http://momentusmedia.com/metric.php?name=nb_816_like_show');
            $('#badge_content').hide();
            $('#request_content').hide();
            $('#like_content').show();
            $('#like_text').show();
        });
    }

    </script>
</head>
<body>

<div class="top-wrap-tour">
  <%= erb(:'partials/fb-header', :layout => false) %>
</div>
<div style="height:50px;"></div>

<%= yield %>

<div class="footer-wrap">
  <%= erb(:'partials/fb-footer', :layout => false) %>
</div>
<div id="fb-root"></div>

<script>
	window.fbAsyncInit = function() {
		FB.init({appId: "183431315036552",
        //FB.init({appId: "164368923621187",
                           status: true,
                           cookie: true,
                           xfbml: true});
        window.setTimeout(function() {
          FB.Canvas.setAutoResize();
        }, 250);
		//FB.Canvas.setSize();

        FB.Event.subscribe('edge.create', function(href, widget) {
          // Do something, e.g. track the click on the "Like" button here
          publish();
        });
	};
	(function() {
		var e = document.createElement('script'); e.async = true;
		e.src = document.location.protocol +
			'//connect.facebook.net/es_LA/all.js';
		document.getElementById('fb-root').appendChild(e);
	}());
</script>
</body>
</html>