<div class='tour-wrap'>
  <div class='tour'>
  <div style='height: 80px;'></div>
  <div class="tour-left">
  <div class="clear"></div>
  <div class="contact-text league-gothic"><h2>Formación Profesional</h2></div>
  <div class="tour-line"></div>
  <div class="tour-item" title='introduccion'>
    <a name='introduccion' id='introduccion'></a>
    <div class='whats-here-poeple georgia'>Introducción</div>
    <p>Después de innumerables revisiones y fases de perfeccionamiento, trabajo sostenido por la experiencia desarrollada durante décadas formando instructores, hoy nuestro Curso de Formación de Formadores posee una extensión total de doce años. Es, tal vez, el más largo que se dicta en la Argentina, pero también se caracteriza por su mecánica única, que posibilita que el estudiante comience a trabajar prácticamente desde el inicio. Podríamos decir que se aprende trabajando y estudiando a la vez.</p>
    <p>El cronograma de la formación completa está constituido por tres etapas, que son:</p>
  </div>

  <div class="tour-item" title='profundizacion-filosofica'>
    <a name='profundizacion-filosofica' id='profundizacion-filosofica'></a>

    <div class='whats-here-poeple georgia'>Profundización Filosófica</div>

    <div class="tour-item"  title='profundizacion-filosofica'>
      <p>La primera fase es accesible a quienes quieran conocer más sobre Nuestra Cultura. Conceptos y técnicas se revelan a través de las clases teóricas y prácticas, que estimulan el desarrollo del conocimiento y su aplicación en la vida cotidiana. Avanzar en la Escala Evolutiva, generar regularidad en la práctica y profundizar  en el Método son sus objetivos principales.</p>
    </div>
  </div>

  <div class="tour-item" title='complementacion-pedagogica'>
    <a name='complementacion-pedagogica' id='complementacion-pedagogica'></a>

    <div class='whats-here-poeple georgia'>Complementación Pedagógica</div>

    <div class="tour-item"  title='complementacion-pedagogica'>
      <p>Aprender a enseñar y, después, preparar el examen para Instructor Asistente en la <a href="http://www.metododerosefederacionba.org/">Federación de Buenos Aires</a>  son las metas fundamentales de esta etapa, en la cual se complementa el estudio del primer módulo, priorizando la didáctica, la pedagogía y todos los elementos necesarios para transformarse en un auténtico Formador de Formadores. Es necesario, entre otros requisitos, haber finalizado satisfactoriamente el primer módulo, tener el grado de yôgin (ver imagen de la Escala Evolutiva), ser aprobado en el examen de admisión y en un test psicotécnico.</p>
    </div>
  </div>

    <div class="tour-item" title='entrenamiento-profesional'>
        <a name='entrenamiento-profesional' id='entrenamiento-profesional'></a>

        <div class='whats-here-poeple georgia'>Entrenamiento Profesional</div>

        <div class="tour-item"  title='entrenamiento-profesional'>
          <p>Consiste en una tercera etapa, en la que el alumno aprende en la teoría y en la práctica los elementos técnicos y administrativos necesarios para obtener éxito en la profesión. Para participar, debe haber sido aprobado en el examen de Instructor Asistente en su Federación.</p>
          <p>Para completar la formación, aun se integran dos fases más: el Curso de Extensión Universitaria que se realiza en un fin de semana por año, para la revisión de la materia y el contacto directo con el sistematizador del Método, DeRose y la Residencia, que puede ser realizada en cualquiera de las Sedes Acreditadas, con una duración de 2.000 horas, o en la unidad piloto de São Paulo, Brasil, con una extensión de 200 horas.</p>
        </div>
    </div>


    <div class="tour-item" title='escala-evolutiva'>
        <a name='escala-evolutiva' id='escala-evolutiva'></a>
        <div class='whats-here-poeple georgia'>Escala evolutiva</div>
        <img src="/images/Escala-Evolutiva.jpg" width=620 style="margin-top: 10px">
    </div>

    <div style='height: 180px;'></div>
  </div>


  <div class="tour-right">
  <div class="side-tour-nav">
    <div class="sprite stn-top"></div>
    <div class="stn-middle proxima-nova-condensed">
      <div class="navigate-tour">Formación Profesional</div>
      <div class="stn-middle-solid">
        <a href="#introduccion" class="anchorLink" id="introduccion_link">
          <script type="text/javascript">
            $('#introduccion_link').click(function(){
            var target_offset = $("#introduccion").offset();
		        var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Introducción</div>
        </a>
      </div>
      <div class="navigate-tour">Estructura</div>
      <div class="stn-middle-solid">
        <a href="#profundizacion-filosofica" class="anchorLink" id="profundizacion-filosofica_link">
          <script type="text/javascript">
            $('#profundizacion-filosofica_link').click(function(){
            var target_offset = $("#profundizacion-filosofica").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Profundización filosófica</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#complementacion-pedagogica" class="anchorLink" id="complementacion-pedagogica_link">
          <script type="text/javascript">
            $('#complementacion-pedagogica_link').click(function(){
            var target_offset = $("#complementacion-pedagogica").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Compl. Pedagógica</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#entrenamiento-profesional" class="anchorLink" id="entrenamiento-profesional_link">
          <script type="text/javascript">
            $('#entrenamiento-profesional_link').click(function(){
            var target_offset = $("#entrenamiento-profesional").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Entrenamiento profesional</div>
        </a>
      </div>
      <div class="navigate-tour">Escala evolutiva</div>
      <div class="stn-middle-solid">
        <a href="#escala-evolutiva" class="anchorLink" id="escala-evolutiva_link">
          <script type="text/javascript">
            $('#escala-evolutiva_link').click(function(){
            var target_offset = $("#escala-evolutiva").offset();
		        var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Grados e insignias</div>
        </a>
      </div>
    </div>

    <div class="sprite stn-bottom"></div>
  </div>
  </div>

  </div>

  <div class="clear"></div>
</div>