<div class='tour-wrap'>
  <div class='tour'>
  <div style='height: 80px;'></div>
  <div class="tour-left">
  <div class="clear"></div>
  <div class="contact-text league-gothic"><h2>Formación Profesional</h2></div>
  <div class="tour-line"></div>
  <div class="tour-item" title='introduccion'>
    <a name='introduccion' id='introduccion'></a>
    <div class='whats-here-poeple georgia'>Introducción</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="tour-item" title='profundizacion-filosofica'>
    <a name='profundizacion-filosofica' id='profundizacion-filosofica'></a>

    <div class='whats-here-poeple georgia'>Profundización Filosófica</div>

    <div class="tour-item"  title='profundizacion-filosofica'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="tour-item" title='complementacion-pedagogica-I'>
    <a name='complementacion-pedagogica-I' id='complementacion-pedagogica-I'></a>

    <div class='whats-here-poeple georgia'>Complementación Pedagógica (Módulo I)</div>

    <div class="tour-item"  title='complementacion-pedagogica-I'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="tour-item" title='complementacion-pedagogica-II'>
    <a name='curso-basico' id='complementacion-pedagogica-II'></a>

    <div class='whats-here-poeple georgia'>Complementación Pedagógica (Módulo II)</div>

    <div class="tour-item"  title='complementacion-pedagogica-II'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

    <div style='height: 180px;'></div>
  </div>


  <div class="tour-right">
  <div class="side-tour-nav">
    <div class="sprite stn-top"></div>
    <div class="stn-middle proxima-nova-condensed">
      <div class="navigate-tour">Formación Profesional</div>
      <div class="stn-middle-solid">
        <a href="#introduccion" class="anchorLink" id="introduccion_link">
          <script type="text/javascript">
            $('#introduccion_link').click(function(){
            var target_offset = $("#introduccion").offset();
		        var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Introducción</div>
        </a>
      </div>
      <div class="navigate-tour">Estructura</div>
      <div class="stn-middle-solid">
        <a href="#profundizacion-filosofica" class="anchorLink" id="profundizacion-filosofica_link">
          <script type="text/javascript">
            $('#profundizacion-filosofica_link').click(function(){
            var target_offset = $("#profundizacion-filosofica").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Profundización filosófica</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#complementacion-pedagogica-I" class="anchorLink" id="complementacion-pedagogica-I_link">
          <script type="text/javascript">
            $('#complementacion-pedagogica-I_link').click(function(){
            var target_offset = $("#complementacion-pedagogica-I").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Compl. Pedagógica I</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#complementacion-pedagogica-II" class="anchorLink" id="complementacion-pedagogica-II_link">
          <script type="text/javascript">
            $('#complementacion-pedagogica-II_link').click(function(){
            var target_offset = $("#complementacion-pedagogica-II").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Compl. Pedagógica II</div>
        </a>
      </div>
    </div>

    <div class="sprite stn-bottom"></div>
  </div>
  </div>

  </div>

  <div class="clear"></div>
</div>