<div class="top-middle-wrap">
    <div class="top-middle">
        <div class="slogan league-gothic">
            <h2>¿Qué hiciste por vos hoy?</h2>
        </div>
        <div class="contact-btn league-gothic">
            <a href="/contacto"><span class="big button left"></span><span class="big button center">Contactános</span><span class="big button right"></span></a>
        </div>
    </div>
</div>

<div class="bottom-middle-wrap">
    <div class="bottom-middle">
        <div class="request-form">
            <div class="request-text georgia">Ingresá tu e-mail para recibir más información (¡No hacemos spam!)</div>
            <div class="error request-text" style="margin-top: 5px; color: red;"><%= @notice %></div>
            <div class="success request-text" style="margin-top: 5px; color: green;"><%= @success %></div>
            <form action="/contacto" method="post" id="contact_form">
                <div style="margin: 10px 0px 0px;">
                    <div style="float:left"><input class="request-textfield georgia" name="email"
                                                   id="Subscriber_email" type="text" value=""></div>
                    <div class="league-gothic" style="float:left">
                        <a rel="nofollow" href="#" onclick="$('#contact_form').submit();"><span class="submit button center">Enviar</span><span class="submit button right"></span></a>
                    </div>
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <div class="desc">
            <div class="desc-left">
                <div class="desc-metodo">

                    <div class="desc-middle">
                        <div id="title_slide_0" class="desc-title league-gothic">SwáSthya Yôga</div>
                        <div class="desc-about georgia">La sistematización del<br />Yôga Antiguo, preclásico.</div>
                        <div class="masinfo"><a href="/swasthya-yoga" class="league-gothic"><span class="small button left"></span><span class="small button center">Más información</span><span class="small button right"></span></a></div>
                    </div>

                </div>
                <div class="clear"></div>
                <div class="sede">

                    <div class="desc-middle">
                        <div id="title_slide_2" class="desc-title league-gothic">Empresas</div>
                        <div class="desc-about georgia">Conocé nuestros servicios especializados para empresas y gimnasios.
                        </div>
                        <div class="masinfo"><a href="/empresas" class="league-gothic"><span class="small button left"></span><span class="small button center">Más información</span><span class="small button right"></span></a></div>                    </div>

                </div>
            </div>
            <script type="text/javascript">
            $(document).ready(function() {
                // redefine Cycle's updateActivePagerLink function
                $.fn.cycle.updateActivePagerLink = function(pager, currSlideIndex) {
                    $('#title_slide_' + currSlideIndex).animate({ color: "#bab9b9" }, 800).animate({ color: "#000000" }, 1000);

                };
                $('.desc-center').cycle({
                    fx: 'fade',
                    timeout: 4000,
                    speedIn: 2500,
                    speedOut: 2500,
                    pager:  '#nav'
                });
            });
            </script>
            <div id="nav" style="display: none"></div>
            <div class='desc-center'>
              <img src="/images/foto3.png" width="250" height="250" />
              <img src="/images/foto1.png" width="250" height="250" />
              <img src="/images/foto2.png" width="250" height="250" />
              <img src="/images/foto4.png" width="250" height="250" />
            </div>
            <div class="desc-right">
                <div class="desc-nosotros">

                    <div class="desc-middle">
                        <div id="title_slide_1" class="desc-title league-gothic">Nosotros</div>
                        <div class="desc-about georgia">Conocenos un poco más.<br />Quiénes somos, qué hacemos...</div>
                        <div class="masinfo"><a href="/nosotros" class="league-gothic"><span class="small button left"></span><span class="small button center">Más información</span><span class="small button right"></span></a></div>
                    </div>

                </div>
                <div class="clear"></div>
                <div class="desc-clases">

                    <div class="desc-middle">
                        <div id="title_slide_3" class="desc-title league-gothic">Clases particulares</div>
                        <div class="desc-about georgia">Ofrecemos clases de SwáSthya Yôga particulares y a distancia.<br />¡Empezá a practicar ahora!
                        </div>
                        <div class="masinfo"><a href="/clases-particulares" class="league-gothic"><span class="small button left"></span><span class="small button center">Más información</span><span class="small button right"></span></a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>