<div class="top-middle-wrap">
    <div class="top-middle">
        <div class="slogan league-gothic">
          <h2>¡Empezá a practicar hoy!</h2>
        </div>
        <div class="contact-btn league-gothic">
            <a href="/contacto?contactReason=prueba"><span class="big button contact" style="display:block; position:relative"><div style="display:inline;">Agendá</div><br/><div style="display:inline; font-size:0.5em; line-height: 1.5em;">tu clase de prueba</div></span></a>
        </div>
    </div>
</div>

<div class="bottom-middle-wrap">
    <div class="bottom-middle">
        <div class="request-form">
            <div class="request-text georgia">Ingresá tu e-mail para recibir más información (¡No hacemos spam!)</div>
            <div class="error request-text" style="margin-top: 5px; color: red;"><%= @notice %></div>
            <div class="success request-text" style="margin-top: 5px; color: green;"><%= @success %></div>
            <form action="/contacto" method="post" id="contact_form">
                <div style="margin: 15px 0px 0px;">
                    <div style="float:left"><input class="request-textfield georgia" name="email"
                                                   id="Subscriber_email" type="text" value=""></div>
                    <div class="league-gothic submit_button_wrapper">
                        <a rel="nofollow" href="#" onclick="$('#contact_form').submit();"><span class="submit button">Enviar</span></a>
                    </div>
                </div>
            </form>
        </div>
        <div class="clear"></div>

        <script type="text/javascript">
        $(document).ready(function() {
            $('#slideshow').crossSlide({
              fade: 1
            }, [{
                src:  '/images/swaSthya.png',
                from: '0% 60% 0.7x',
                to:   '50% 50% 1.2x',
                time: 3
              }, {
                src:  '/images/la_escuela.png',
                from: '90% 10% 1x',
                to:   '20% 70% 0.8x',
                time: 3
              },
              {
                src:  '/images/Formacion.png',
                from: 'top left 1.2x',
                to:   '100% 50% 1x',
                time: 3
              }, {
                src:  '/images/empresas.png',
                from: '30% 50% 1.2x',
                to:   '10% 10% 1.5x',
                time: 3
              }
            ], function(idx, img, idxOut, imgOut) {
              if (idxOut == undefined)
              {
                // starting single image phase
              }
              else
              {
                $('#title_slide_' + idx).animate({ color: "#bab9b9" }, 800).animate({ color: "#000000" }, 1000);
              }
            });
        });
        </script>
        <div id='slideshow'>
        </div>

        <ul class="desc">
          <a href="/swasthya">
            <li class="desc-metodo">
                <div class="desc-middle">
                    <div id="title_slide_0" class="desc-title league-gothic">SwáSthya</div>
                    <div class="desc-about georgia">La sistematización del<br />Yôga Antiguo, preclásico.</div>
                </div>
            </li>
          </a>
          <a href="/escuela">
            <li class="desc-nosotros">
                <div class="desc-middle">
                    <div id="title_slide_1" class="desc-title league-gothic">La escuela</div>
                    <div class="desc-about georgia">Conocenos un poco más.<br />Quiénes somos, qué hacemos...</div>
                </div>
            </li>
          </a>
          <a href="/formacion-profesional">
            <li class="desc-clases">
                <div class="desc-middle">
                    <div id="title_slide_2" class="desc-title league-gothic">Formación profesional</div>
                    <div class="desc-about georgia">Más de cinco décadas formando excelentes instructores de SwáSthya.</div>
                </div>
            </li>
          </a>
          <a href="empresas">
            <li class="sede">
                <div class="desc-middle">
                    <div id="title_slide_3" class="desc-title league-gothic">Empresas</div>
                    <div class="desc-about georgia">Conocé nuestros servicios para empresas y gimnasios.</div>
                </div>
            </li>
          </a>
        </ul>
    </div>
</div>