<div class="tour-wrap">
	<div class="clear"></div>
    <div class="tour">
      <div style="height:80px;"></div>
	<div class="tour-left">
        <div class="contact-text league-gothic"><h2>Inscripciones</h2></div>

        <p>La escuela está abierta durante todo el año. Podés comenzar con tus clases en cualquier momento.</p>
        <p>Trabajamos con grupos reducidos, lo que nos permite realizar un seguimiento personalizado.</p>

        <div class='whats-here-poeple georgia'>Metodología</div>
        <ul>
          <li>Entrevista con un instructor de la Escuela y visita a las instalaciones. <a href="/contacto">Coordiná tu entrevista.</a></li>
          <li>Solicitud de vacante</li>
        </ul>

        <div class='whats-here-poeple georgia'>Documentación solicitada</div>
        <ul>
          <li>Fotocopia de la primera y la segunda hoja del DNI.</li>
          <li>Apto médico*</li>
          <li>Foto 4x4</li>
        </ul>
        <p>* Durante la entrevista vas a recibir un formulario de revisación médica, que deberás entregar a tu instructor a lo largo del primer mes de práctica. La revisación médica puede realizarse en la escuela, en los horarios combinados, o con un médico particular.</p>

        <div class='whats-here-poeple georgia'>Pagos</div>
        <ul>
          <li>Matrícula anual</li>
          <li>Membresía anual o abono mensual.</li>
        </ul>
        <p>Trabajamos con tarjetas de crédito o débito.</p>

	</div>
    <div class="tour-right">
      <div class="side-tour-nav">
        <div class="sprite stn-top"></div>
        <div class="stn-middle proxima-nova-condensed">
            <div class="navigate-tour"><b>SwáSthya Sede Martinez</b></div>
            <div class="navigate-tour">Arenales 1983 (esq. Alvear), Martinez.</div>
            <div class="navigate-tour">tel. 4733-3801</div>
        </div>
        <div class="sprite stn-bottom"></div>
      </div>
    </div>
    </div>
</div>