<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0019)http://www.rule.fm/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SwáSthya Yôga Martinez</title>

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />

    <meta name="language" content="es">
    <meta name="description"
          content="¿Ya invertiste en vos mismo hoy? Calidad de vida, administración del stress, fuerza, flexibilidad
          y cultura.">
    <meta name="keywords"
          content="">

    <link rel="stylesheet" href="/stylesheets/combined.css" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
<div class="top-wrap">
    <%= erb(:'partials/header', :layout => false) %>
</div>
<%= yield %>
<div class="footer-wrap">
    <%= erb(:'partials/footer', :layout => false) %>
</div>
</body>
</html>
