<a name="people" id="people"></a>

<div class="tour-wrap">
<div class="tour">
<div class="tour-left">
<div class="tour-wrap-whole" title="people">
  <div class="tour-header">
    <div class="tour-header-top">
      <div class="sprite people"></div>
      <div class="tour-header-text-image"><img src="/assets/images/people-text.png" alt="People"/></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="whats-here-poeple georgia">What's here...</div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Contact Management</div>
    <div class="tour-content tk-proxima-nova">
      Now you can view, edit and manage Details, Activity, Documents, Tasks, Projects, Discussions, Sharing &amp;
      Permissions, Time related to people in a way that makes sense. Keep track of individuals, work groups,
      departments, companies &amp; rule users in one place.
    </div>
    <div class="tour-image">
      <a href="#?w=816" rel="popup1" class="poplight"><img src="/assets/images/people.png" alt="People"/></a>
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Sharing &amp; Permissions</div>
    <div class="tour-content tk-proxima-nova">
      Use the Rule Utility to live search all people groups/individuals and immediately share, edit, task &amp; manage
      permissions instantly. Full browsing is just a click away for detailed lookup.
    </div>

    <div class="inline-wrap">
      <div class="square"><img src="/assets/images/square.png" alt="Square"/></div>
      <div style="float:left">
        <div class="inline tk-proxima-nova">Inline Browsing</div>

        <div class="tour-content tk-proxima-nova">
          Can't remember what it's called or where it is? One click reveals an Inline Browser so you can search the
          entirety of your RULE assets with ease.
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">The Details</div>
      <div class="tour-content tk-proxima-nova">
        View, edit &amp; share contact details. Tag your contacts for quick access so you can save time and work smart.
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">RULE Activity</div>
      <div class="tour-content tk-proxima-nova">
        See all the latest, relevant activity surrounding a person, group, department or company.
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>
  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Complete CRM</div>
    <div class="tour-content tk-proxima-nova">
      From the pipeline to the bottom line, RULE People will make the sales process clear, collaborative and
      comprehensive. Right now RULE is a functional, formative contact list manager, but soon it will revive your client
      relationship management (CRM), breaking down the deal flow barriers from leads to cash.
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Sales Cycle</div>
    <div class="tour-content tk-proxima-nova">
      Simple status updates moves your contacts through the pipeline, monitoring related people, documents, notes,
      discussions, expenses and expected revenue. When RULE Money is released, the barrier between sales and accounting
      will be leveled once and for all.
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Goals</div>
    <div class="tour-content tk-proxima-nova">Set, monitor and report on individual, group, department and company
      goals.
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Notifications</div>
    <div class="tour-content tk-proxima-nova">Stay on top of appointments, reminders and notes, so you can personalize
      the CRM experience for you and your contacts.
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Deals / Opportunities</div>
    <div class="tour-content tk-proxima-nova">
      RULE your pipeline - create, view and track leads, proposals, wins and losses so you know what's coming and whats
      missing on your road map to success.
    </div>
    <div class="tour-line"></div>
  </div>

  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Analytics &amp; Deal Flow</div>
    <div class="tour-content tk-proxima-nova">
      View and generate reports that will help you make better business decisions for the near and long-term.
    </div>
    <a name="project" id="project"></a>

    <div class="tour-line"></div>
  </div>
</div>
<div class="clear"></div>


<div class="tour-wrap-whole" title="project">
  <div class="tour-header">

    <div class="tour-header-top">
      <div class="sprite project"></div>
      <div class="tour-header-text-image"><img src="/assets/images/project-text.png" alt="Project"/></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="whats-here-poeple georgia">What's here...</div>
  <div class="tour-info-wrap">
    <div class="tour-content tk-proxima-nova">
      Simple, powerful, collaborative. Your Milestones, Tasks, Time, Teams, Documents &amp; Discussions come together to
      make project management what it should be...productive playtime. View, edit, share and manage permissions for all
      project related assets to create an experience that will increase productivity and improve communication.
    </div>
    <div class="tour-image">
      <a href="#?w=816" rel="popup2" class="poplight"><img src="/assets/images/projects.png" alt="Projects"/></a>
    </div>
    <div class="tour-line"></div>
  </div>

  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Milestones &amp; Tasking</div>
    <div class="tour-content tk-proxima-nova">
      Just add, edit, view and manage the who, what, when and where from major benchmarks to tasking and experience real
      productivity. Share one task to another and SNAP, you've created a task list. Prioritize your project workflow to
      save time and create more value.
    </div>
    <div class="tour-line"></div>
  </div>

  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">Sharing &amp; Permissions</div>
      <div class="tour-content tk-proxima-nova">
        Use the Rule Utility to share and select related assets and decide who can view, edit and manage. Full browsing
        is just a click away for detailed lookup.
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>

  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">Project Stream</div>
      <div class="tour-content tk-proxima-nova">
        See what's happening now with all asset traffic and communication so your teams to stay in the loop anywhere,
        anytime.
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>

  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">Documents</div>
      <div class="tour-content tk-proxima-nova">
        With RULE documents, any project related files are just one click away.
      </div>
    </div>

    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>

  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">Discussions</div>
      <div class="tour-content tk-proxima-nova">
        Let the project speak. The conversation surrounding projects and related assets is as important as the work
        itself -- open the door to communication without limits.
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>

  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">Time Tracking</div>
      <div class="tour-content tk-proxima-nova">
        Just enter your Project, Milestone or Task time estimate and track if you are ahead or behind when you enter the
        actual time at completion.
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>

  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Dynamic Gantt Charts</div>
    <div class="tour-content tk-proxima-nova">
      RULE projects by interacting with your timelines directly. Run scenarios and watch as due dates and project costs
      for tasks &amp; milestones reveal the productivity level and how it effects the bottom line.
    </div>
    <div class="tour-line"></div>
  </div>

  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Tickets</div>
    <div class="tour-content tk-proxima-nova">
      Team and client ticket requests made easy. Assign and create relationships with the RULE Utility to associate any
      ticket with any related business assets.
    </div>
    <div class="tour-line"></div>
  </div>

  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Live Time Tracking</div>
    <div class="tour-content tk-proxima-nova">
      Don't lose track of your workflow ever again. Just click "start" from your RULE doc anywhere, anytime to begin
      tracking your activity. When you click "stop" all you do is select or create a task, milestone or project to add
      your workflow item to your time sheet.
    </div>
    <div class="tour-line"></div>
  </div>

  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Money</div>
    <div class="tour-content tk-proxima-nova">
      Know your quoted/actual revenues and time associated with projects to see the wins and losses of your workflow.
      All finance related activity will be shared to the coming accounting feature, RULE Money.
    </div>
    <a name="doc" id="doc"></a>

    <div class="tour-line"></div>
  </div>
</div>
<div class="clear"></div>


<div class="tour-wrap-whole" title="doc">

  <div class="tour-header">

    <div class="tour-header-top">
      <div class="sprite document"></div>
      <div class="tour-header-text-image"><img src="/assets/images/doc-text.png" alt="Document"/></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="whats-here-poeple georgia">What's here...</div>
  <div class="tour-info-wrap">
    <div class="tour-content tk-proxima-nova">
      The word "repository" just doesn't cut it when you RULE documents. This is your world for uploading, viewing,
      editing and managing the lifecycle of any file type. No more asking where is it, who has access to it, when was it
      created and what version it is? Any document, anytime you want it, from anywhere in the world and an interface
      that's so usable anyone could manage it.
    </div>
    <div class="tour-image">
      <a href="#?w=816" rel="popup3" class="poplight"><img src="/assets/images/documents.png" alt="Documents"/></a>
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Sharing &amp; Permissions</div>
    <div class="tour-content tk-proxima-nova">
      Quickly live search any document or document group to share and set permissions for other RULE users instantly.
    </div>
    <div class="inline-wrap">
      <div class="square"><img src="/assets/images/square.png" alt="Square"/></div>
      <div style="float:left">
        <div class="inline tk-proxima-nova">Inline Browsing</div>

        <div class="tour-content tk-proxima-nova">
          Can't remember what it's called? One click reveals an Inline Browser so you search the entirety of your RULE
          assets.
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">The Details</div>
      <div class="tour-content tk-proxima-nova">
        View, edit &amp; share document details. Tag your documents for quick access so you can save time and work
        smart.
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>
  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Google Docs Integration</div>
    <div class="tour-content tk-proxima-nova">
      Manage uploaded docs and shared google docs in a unified workspace. Shortcut to edit google docs and all updated
      versions will stay synced to your RULE account.
    </div>
    <a name="stream" id="stream"></a>

    <div class="tour-line"></div>
  </div>

</div>
<div class="clear"></div>


<div class="tour-wrap-whole" title="stream">
  <div class="tour-header">

    <div class="tour-header-top">
      <div class="sprite stream"></div>
      <div class="tour-header-text-image"><img src="/assets/images/stream-text.png" alt="Stream"/></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="whats-here-poeple georgia">What's here...</div>
  <div class="tour-info-wrap">
    <div class="tour-content tk-proxima-nova">
      Know what's happening in your business up to the moment. View, filter and interact with all activity for all RULE
      assets (i.e. people, projects, tasks, documents, calendar, team, discussions etc.) and experience productivity
      that pushes the boundaries of collaboration.
    </div>
    <div class="tour-image">
      <a href="#?w=816" rel="popup4" class="poplight"><img src="/assets/images/stream.png" alt="Stream"/></a>
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Streams</div>
    <div class="tour-content tk-proxima-nova">
      Create multiple custom stream views and see activity and conversations for all individual and group assets in one
      place.
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Deep Filter</div>
    <div class="tour-content tk-proxima-nova">
      Go beyond keywords to filter out multiple related assets (i.e. Employee name, their tasks, their documents) to
      monitor and improve the flow of productivity
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Money</div>
    <div class="tour-content tk-proxima-nova">
      The visual display of how your team flows from lead to deadline that will reveal where your work flows and what
      needs work
    </div>
    <a name="mailbox" id="mailbox"></a>

    <div class="tour-line"></div>
  </div>
</div>
<div class="clear"></div>


<div class="tour-wrap-whole" title="mailbox">
  <div class="tour-header">

    <div class="tour-header-top">
      <div class="sprite mailbox"></div>
      <div class="tour-header-text-image"><img src="/assets/images/mailbox-text.png" alt="Mailbox"/></div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="whats-here-poeple georgia">What's here...</div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Team Messaging</div>
    <div class="tour-content tk-proxima-nova">
      Improve team communication and integrate conversations with all of your RULE assets (i.e. people, projects, tasks,
      documents, calendar, team, discussions etc.).
    </div>
    <div class="tour-image">
      <a href="#?w=816" rel="popup5" class="poplight"><img src="/assets/images/mailbox.png" alt="mailbox"/></a>
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">RULE Mail</div>
    <div class="tour-content tk-proxima-nova">
      Manage your email accounts from RULE with Pop3/IMAP &amp; increase productivity by relating emails to all of your
      RULE assets.
    </div>
    <a name="calendar" id="calendar"></a>

    <div class="tour-line"></div>
  </div>

</div>
<div class="clear"></div>


<div class="tour-wrap-whole" title="calendar">
  <div class="tour-header">

    <div class="tour-header-top">
      <div class="sprite calendar"></div>
      <div class="tour-header-text-image"><img src="/assets/images/calendar-text.png" alt="Calendar"/></div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="whats-here-poeple georgia">What's here...</div>
  <div class="tour-info-wrap">
    <div class="tour-content tk-proxima-nova">
      Manage, share and collaborate in a multi-calendar space - events, appointments, due dates, team calendars and
      more.
    </div>
    <div class="tour-image">
      <a href="#?w=816" rel="popup6" class="poplight"><img src="/assets/images/calendar.png" alt="Calendar"/></a>
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">Calendar Views</div>
      <div class="tour-content tk-proxima-nova">
        Manage it the way you want -- day, week, or month.
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">Sharing &amp; Permissions</div>
      <div class="tour-content tk-proxima-nova">
        Quickly live search any event to share and set permissions for other RULE users instantly.
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">The Details</div>
      <div class="tour-content tk-proxima-nova">
        View, edit &amp; share event details with all of your RULE assets (i.e. people, projects, tasks, documents,
        calendar, team discussions etc.)
      </div>
    </div>
    <div class="clear"></div>
    <div class="tour-line"></div>
  </div>
  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">Integration with Google Calendar &amp; iCal</div>
    <div class="tour-content tk-proxima-nova">
      Manage and access all of your daily, weekly &amp; monthly events...always in sync, always accessible.
    </div>
    <a name="ruling" id="ruling"></a>

    <div class="tour-line"></div>
  </div>
</div>
<div class="clear"></div>


<div class="tour-wrap-whole" title="ruling">
  <div class="tour-header">

    <div class="tour-header-top">
      <div class="sprite ruling"></div>
      <div class="tour-header-text-image"><img src="/assets/images/ruling-text.png" alt="Ruling"/></div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="whats-here-poeple georgia">What's here...</div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">The RULE Utility</div>
    <div class="tour-content tk-proxima-nova">
      Our gift to the team that wants to manage sharing &amp; permissions for all of their business assets with form and
      function.
    </div>
    <div class="tour-image">
      <a href="#?w=816" rel="popup7" class="poplight"><img src="/assets/images/utility.png" alt="Rule utility"/></a>
    </div>
  </div>
  <div class="tour-info-wrap">
    <div class="define-assests georgia">
      "Assets" defined:
      <br/><br/>
      Something valuable that an entity owns, benefits from, or has use of in generating income.
    </div>
    <div class="tour-content tk-proxima-nova" style="margin:15px 0px 0px;">
      Your RULE Assets are People, Projects, Documents, Discussions, Events &amp; Opportunities. Every RULE asset
      details view is equipped with this tool, so you always know the who, what, when and where of your business.
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div style="float:left">
      <div class="title-tour-sub tk-league-gothic">How it Works</div>
      <div class="tour-content tk-proxima-nova">
        When viewing the details of any RULE Asset you have the ability to live search all other other assets
        immediately to share and manage permissions instantly
      </div>
    </div>
    <div class="clear"></div>
    <div style="margin:20px 0px 0px;">
      <div class="square"><img src="/assets/images/square.png" alt="Square"/></div>
      <div style="float:left">
        <div class="inline tk-proxima-nova">Inline Browsing</div>
        <div class="tour-content tk-proxima-nova">
          Can't remember what it's called or where it is? One click reveals an Inline Browser so you can search the
          entirety of your RULE assets with ease.
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <a name="atc" id="atc"></a>

    <div class="tour-line"></div>
  </div>

  <div class="clear"></div>
</div>


<div class="tour-wrap-whole" title="atc">
  <div class="tour-header">
    <div class="tour-header-top">
      <div class="sprite mobile"></div>
      <div class="tour-header-text-image"><img src="/assets/images/moblie-text.png" alt="Mobile"/></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="tour-content tk-proxima-nova">
      Mobile Browser access for iPhone, Blackberry &amp; Android will include the complete RULE productivity suite
      designed to fit in your pocket. You will always be in the know and enjoy managing your business while riding a
      camel in the Sahara with an iPhone in one hand and a martini in the other.
      <br/><br/>
      The iPhone &amp; iPad app will make mobile business management everything you wished it could be.
    </div>

    <div class="tour-line"></div>
  </div>

  <div class="clear"></div>

  <div class="tour-header">
    <div class="tour-header-top">
      <div class="sprite money"></div>
      <div class="tour-header-text-image"><img src="/assets/images/money-text.png" alt="money"/></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="tour-content tk-proxima-nova">
      Complete the financial circle from leads to balance sheet with a fully integrated accounting system that removes
      all barriers to managing assets and how they affect your bottom line.
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="tour-info-wrap">
    <div class="title-tour-sub tk-league-gothic">RULE CFO</div>
    <div class="tour-content tk-proxima-nova">
      Run all the financial reports needed to make better decisions on how to manage day-to-day, near and long-term
      financial success based on your workflow. Know where, when and how to spend and make adjustments in an intuitive
      user interface. Cut time and costs by reducing entries from sales to management to accounting.
    </div>
    <div class="tour-line"></div>
  </div>
  <div class="clear"></div>
  <div class="tour-header">
    <div class="tour-header-top">
      <div class="sprite wiki"></div>
      <div class="tour-header-text-image"><img src="/assets/images/wiki-text.png" alt="Wiki"/></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="tour-content tk-proxima-nova">
      Create a room and fill it with Contacts, Documents, Projects, Tasks, Discussions and more. Then take it anywhere
      without a backpack.
    </div>
    <div class="tour-line"></div>
  </div>

  <div class="clear"></div>
  <div class="tour-header">
    <div class="tour-header-top">
      <div class="sprite devnet"></div>
      <div class="tour-header-text-image"><img src="/assets/images/devnet-text.png" alt="Dev Net"/></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="tour-content tk-proxima-nova">
      RULE is about progress in online business management and we can't wait to release our API for a community of
      creative developers that want to delve into the productivity chasm with us.
    </div>
    <div class="tour-line"></div>
  </div>

  <div class="clear"></div>

  <div class="tour-header">
    <div class="tour-header-top">
      <div class="sprite community"></div>
      <div class="tour-header-text-image"><img src="/assets/images/community-text.png" alt="Dev Net"/></div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="whats-here-poeple georgia">What's coming</div>
  <div class="tour-info-wrap">
    <div class="tour-content tk-proxima-nova">
      Productivity will RULE when when the collective minds of forward thinkers come together. Our community will exist
      to support and promote productivity for all our users to enjoy sharing knowledge and experiences that produces
      more success and happy workflow.
    </div>

  </div>

  <div class="clear"></div>
  <div style="height:30px;"></div>


</div>


<div class="clear"></div>
</div>


<div class="tour-right">
  <div class="side-tour-nav">
    <div class="sprite stn-top"></div>
    <div class="stn-middle proxima-nova-condensed">
      <div class="navigate-tour">NAVIGATE THE TOUR</div>
      <div class="stn-middle-solid">
        <a href="#people" class="anchorLink">
          <div class="sprite people-icon"></div>
          <div>People</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#project" class="anchorLink">
          <div class="sprite projects-icon-small"></div>
          <div>Projects</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#doc" class="anchorLink">
          <div class="sprite docs-icon"></div>
          <div>Docs</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#stream" class="anchorLink">
          <div class="sprite stream-icon"></div>
          <div>The Stream</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#mailbox" class="anchorLink">
          <div class="sprite mailbox-icon"></div>
          <div>Mailbox</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#calendar" class="anchorLink">
          <div class="sprite cal-icon"></div>
          <div>Calendar</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#ruling" class="anchorLink">
          <div class="sprite share-icon"></div>
          <div>Ruling Assets</div>
        </a>
      </div>

      <div class="stn-middle-solid">
        <a href="#atc" class="anchorLink">
          <div class="sprite atc-icon"></div>
          <div>Around the corner</div>
        </a>
      </div>
      <div class="clear"></div>
      <div class="request">
        <a href="/"><img src="/assets/images/request.png" alt="Request"/></a>
      </div>

    </div>

    <div class="sprite stn-bottom"></div>
  </div>
</div>
</div>
<div class="clear"></div>
</div>


<!--POPUP START-->
<div id="popup1" class="popup_block">
  <img src="/assets/images/people-large.png" alt="People"/>
</div>

<div id="popup2" class="popup_block">
  <img src="/assets/images/projects-large.png" alt="Projects"/>
</div>

<div id="popup3" class="popup_block">
  <img src="/assets/images/documents-large.png" alt="Documents"/>
</div>

<div id="popup4" class="popup_block">
  <img src="/assets/images/stream-large.png" alt="Stream"/>
</div>

<div id="popup5" class="popup_block">
  <img src="/assets/images/mailbox-large.png" alt="Mailbox"/>
</div>

<div id="popup6" class="popup_block">
  <img src="/assets/images/calendar-large.png" alt="Calendar"/>
</div>

<div id="popup7" class="popup_block">
  <img src="/assets/images/utility-large.png" alt="Rule Utility"/>
</div>