<div class="contact-wrap">
	<div class="clear"></div>
	<div class="contact-middle">

      <div class="contact-middle-margin">
			<div class="contact-text league-gothic"><h2>Nosotros</h2></div>
            <div class="tour-line"></div>
            <h3>Natalia Sanmartin Gil</h3>
            <p>Licenciada en Higiene y Seguridad Laboral, es instructora de SwáSthya Yôga desde el año 2002. Su monitor es el Maestro Edgardo Caramella, y es supervisada directamente por DeRose.</p>
            <p>Entre los años 2002-2003 trabajó en la escuela de la Profesora Rosângela de Castro, en Rio de Janeiro (Brasil). Desde el 2003 hasta el 2009, formó parte del equipo de la Sede Recoleta en Argentina, actuando como Directora Financiera.</p>
            <p>Se especializó en coreografías, llegando a tener el nivel de Demostradora Internacional. Ha participado del Proyecto de Yôga Laboral, dando clases en grandes empresas. Tiene, además,  vasta experiencia como Personal Yôga Trainer.</p
            <p>Actualmente, se encuentra totalmente dedicada a su propio proyecto, la apertura de una nueva escuela en la zona norte del GBA.</p>
            <h3>Luis Perichon</h3>
            <p>Es Ingeniero en sistemas, egresado del ITBA. Practica SwáSthya Yôga desde el año 2005 y decide dar clases a partir del año 2011, iniciando su formación como instructor en la Sede Belgrano.</p>
            <p>Su monitora es la instructora Lucía Gagliardini y su supervisor el Maestro Edgardo Caramella.</p>
            <p>Comparte el entusiasmo por la apertura de una nueva escuela en el barrio en que creció, por eso se encuentra abocado a hacer realidad este proyecto.</p>
	  </div>
	  <div class="clear"></div>
	</div>

</div>