<div class="contact-wrap">
    <div class="clear"></div>
    <div class="contact-middle">
      <div class="contact-middle-margin">
        <div class="contact-text league-gothic"><h2>Contactános</h2></div>
        <div class="tour-line"></div>
        <div><h3>Gracias! Pronto nos pondremos en contacto con vos.</h3></div>
      </div>
    </div>
</div>