<div class='tour-wrap'>
  <div class='tour'>
  <div style='height: 80px;'></div>
  <div class="tour-left">
  <div class="clear"></div>
  <div class="tour-item" title='que_es'>
    <a name='que_es' id='que_es'></a>
    <div class="contact-text league-gothic"><h2>SwáSthya Yôga</h2></div>
    <div class="tour-line"></div>
    <p>De todos los tipos de Yôga existentes, hay uno en particular que es especial por ser el más completo.
      Produce efectos rápidos y duraderos como ningún otro. Se trata del SwáSthya Yôga, sistematización realizada por el
      Maestro DeRose del Yôga más antiguo, correspondiente al período preclásico.</p>
  </div>
  <div class="tour-item"  title='definicion'>
    <a name='definicion' id='definicion'></a>

    <div class='whats-here-poeple georgia'>Definición formal de nuestro Yôga:</div>

    <p>SwáSthya Yôga es el nombre de la sistematización del Yôga Antiguo.</p>
  </div>

    <a name='ashtanga_sadhana' id='ashtanga_sadhana'></a>

    <div class='whats-here-poeple georgia'>Características principales del SwáSthya Yôga:</div>

    <ol>
      <div class="tour-item"  title='ashtanga_sadhana'>
      <li>
        <b>Una práctica sumamente completa, integrada por ocho modalidades de técnicas</b>
        <p>La característica principal del SwáSthya Yôga es su práctica ortodoxa denominada ashtánga sádhana (ashta = ocho; anga = parte; sádhana = práctica). Se trata de una práctica integrada por ocho partes, a saber: mudrá, pújá, mantra, pránáyáma, kriyá, ásana, yôganidrá, samyama.</p>
      </li>
      </div>
      <div class='tour-item'  title='reglas'>
      <a name='reglas' id='reglas'></a>

      <li>
        <b>La codificación de las reglas generales de ejecución</b>
        <p>Una de las más notables contribuciones históricas de nuestra sistematización fue la incorporación de las reglas generales, que no se encuentran en ningún otro tipo de Yôga... a menos que se introduzcan a partir de ahora, por influencia del SwáSthya Yôga. Ya hemos encontrado ejemplos de esa tendencia en clases y textos de varios tipos de Yôga en diferentes países, después del contacto con el SwáSthya.</p>
        <p>Es fácil constatar que las reglas y demás características de nuestro método no eran conocidas ni utilizadas anteriormente: basta consultar los libros de las diversas modalidades de Yôga publicados antes de la codificación del SwáSthya. En ninguno de ellos se va a encontrar referencia alguna a las reglas generales de ejecución.</p>
        <p>En el SwáSthya Yôga las reglas ayudan bastante, simplificando el aprendizaje y acelerando la evolución del practicante. Al instructor, además, le ahorran un tiempo precioso, gastado habitualmente en descripciones e instrucciones innecesarias.</p>
      </li>
      </div>
      <div class='tour-item' title='coreografias'>
      <a name='coreografias' id='coreografias'></a>

      <li>
        <b>El rescate del concepto arcaico de secuencias encadenadas sin repetición</b>
        <p>Otra importante característica del SwáSthya Yôga es el rescate del concepto primitivo de entrenamiento, que consiste en ejecuciones más naturales, anteriores a la costumbre de repetir los ejercicios. La institución del sistema repetitivo es mucho más reciente de lo que se imagina. Las técnicas antiguas, libres de las limitaciones impuestas por la repetición, se ligaban entre sí por encadenamientos espontáneos. En el SwáSthya Yôga esos encadenamientos constituyen movimientos de ligazón entre los ásanas no repetitivos ni aislados, lo que predispone a la elaboración de ejecuciones coreográficas.</p>
        <p> Así, [A] la no repetición, [B] los pasajes (movimientos de ligazón) y [C] las coreografías (con ásanas, mudrás, bandhas, kriyás, etc.), son consecuencia unos de otros, recíprocamente, y son parte de esta tercera característica del SwáSthya Yôga. Las coreografías tampoco son una creación contemporánea. Ese concepto se remonta al Yôga primitivo, al tiempo en que el Hombre no tenía religiones institucionalizadas y adoraba al Sol. El último rudimento de esa manera primitiva de ejecución coreográfica es la más ancestral práctica del Yôga: ¡el súrya namaskára!</p>
      </li>
      </div>
    </ol>
    <div style='height: 80px;'></div>
  </div>


  <div class="tour-right">
  <div class="side-tour-nav">
    <div class="sprite stn-top"></div>
    <div class="stn-middle proxima-nova-condensed">
      <div class="navigate-tour">SwáSthya Yôga</div>
      <div class="stn-middle-solid">
        <a href="#que_es" class="anchorLink" id="que_es_link">
          <script type="text/javascript">
            $('#que_es_link').click(function(){
            var target_offset = $("#que_es").offset();
		        var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>¿Qué es?</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#definicion" class="anchorLink" id="definicion_link">
          <script type="text/javascript">
            $('#definicion_link').click(function(){
            var target_offset = $("#definicion").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Definición</div>
        </a>
      </div>
      <div class="navigate-tour">Características Principales</div>
      <div class="stn-middle-solid">
        <a href="#ashtanga_sadhana" class="anchorLink" id="ashtanga_sadhana_link">
          <script type="text/javascript">
            $('#ashtanga_sadhana_link').click(function(){
            var target_offset = $("#ashtanga_sadhana").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>ashtánga sádhana</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#reglas" class="anchorLink" id="reglas_link">
          <script type="text/javascript">
            $('#reglas_link').click(function(){
            var target_offset = $("#reglas").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>reglas generales</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#coreografias" class="anchorLink" id="coreografias_link">
          <script type="text/javascript">
            $('#coreografias_link').click(function(){
            var target_offset = $("#coreografias").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>coreografías</div>
        </a>
      </div>
    </div>

    <div class="sprite stn-bottom"></div>
  </div>
  </div>

  </div>

  <div class="clear"></div>
</div>