<div class='tour-wrap'>
  <div class='tour'>
  <div style='height: 80px;'></div>
  <div class="tour-left">
  <div class="clear"></div>
  <div class="tour-item" title='que_es'>
    <a name='que_es' id='que_es'></a>
    <div class="contact-text league-gothic"><h2>SwáSthya</h2></div>
    <div class="tour-line"></div>
    <p>Nuestro Método es una propuesta de reeducación comportamental con énfasis en buena calidad de vida, buenas maneras, buenas relaciones humanas, buena cultura, buena alimentación y buena forma.</p>
    <p>Algunas de nuestras herramientas son la reeducación respiratoria, la administración del estrés, las técnicas orgánicas que mejoran el tono muscular y la flexibilidad, procedimientos para perfeccionar la descontracción emocional y la concentración mental. Todo eso, en última instancia, con miras a la expansión de la conciencia y al autoconocimiento.</p>
    <p>SwáSthya (en sánscrito, autosuficiencia, salud, bienestar, confort, satisfacción) es el nombre de la parte técnica del Método, una práctica poderosa y agradable, integrada en ocho partes. Una de las más notables contribuciones históricas de nuestra sistematización fue la incorporación de las reglas generales, que ayudan bastante, simplificando el aprendizaje y acelerando la evolución del practicante. Otra importante característica del SwáSthya es el rescate del concepto primitivo de entrenamiento, que consiste en ejecuciones más naturales, anteriores a la costumbre de repetir los ejercicios. La institución del sistema repetitivo es mucho más reciente de lo que se imagina. Las técnicas antiguas, libres de las limitaciones impuestas por la repetición, se ligaban entre sí por encadenamientos espontáneos. En el SwáSthya esos encadenamientos constituyen movimientos de ligazón entre los ásanas no repetitivos ni aislados, lo que predispone a la elaboración de ejecuciones coreográficas.</p>
  </div>
  <div class="tour-item"  title='DeRose'>
    <a name='DeRose' id='DeRose'></a>

    <div class='whats-here-poeple georgia'>DeRose, el sistematizador de nuestro método</div>
    <div class="profileinfo">
        <img src="/images/foto-derose.jpg">
        <p>Website: <a target=_blank href="http://www.metododerose.org">www.metododerose.org</a></p>
        <p>Blog: <a target=_blank href="http://www.metododerose.org/blog">www.metododerose.org/blog</a></p>
    </div>
    <div class="profilecontent">
        <p>DeRose es un autor especializado en filosofía oriental que se dedica a escribir sobre varios temas: comportamiento, ficción, buenas maneras, cuentos, alimentación, biografía, filosofía, historia, etc. Cuenta con más de 30 libros escritos, publicados en varios países, de los que se han vendido un millón de ejemplares.</p>
        <p><b>La cultura preconizada</b><br/>En sus libros, el Comendador DeRose propone reeducar a sus lectores para que se tornen personas mejores, más refinadas, más civilizadas, más cultas, que viajen, que perfeccionen incluso su lenguaje y buenas maneras. Sugiere una revolución comportamental, a través de una filosofia muy antigua, proponiedo una forma más sensible y amorosa de relacionarse con la familia, con el compañero afectivo, con los amigos, con los subordinados y hasta con los desconocidos. Recomienda que los eventuales conflictos se solucionen con elegancia, sin confrontaciones. Como complemento a esta propuesta, enseña reeducación respiratoria, reeducación postural, reeducación alimentaria, etc., proporcionando condiciones culturales y sociales para disfrutar una calidad de vida mejor y para mantener a los jóvenes y a todos los demás ciudadanos lejos de las drogas.</p>
    </div>
  </div>
  <div class="tour-item"  title='entrevista-DeRose'>
    <a name='entrevista-DeRose' id='entrevista-DeRose'></a>
    <div class='whats-here-poeple georgia'>Entrevista</div>
    <iframe style="margin: 15px 95px;" src="http://player.vimeo.com/video/13750675?title=0&amp;byline=0&amp;portrait=0" width="500" height="379" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <div class="tour-item"  title='edgardo-caramella'>
    <a name='edgardo-caramella' id='edgardo-caramella'></a>

    <div class='whats-here-poeple georgia'>Edgardo Caramella</div>
    <div class="profileinfo">
        <img src="/images/foto-edgardo-caramella.jpg">
        <p>Website: <a target=_blank href="http://www.edgardocaramella.com.ar">www.edgardocaramella.com.ar</a></p>
        <p>Blog: <a target=_blank href="http://www.blogdeedgardo.com.ar">www.blogdeedgardo.com.ar</a></p>
    </div>
    <div class="profilecontent">
        <p>Traba contacto con DeRose en 1985 al participar de un curso que dicta en la Ciudad de Buenos Aires. A partir de ese momento se genera una identificación con la propuesta del educador DeRose, con quien realiza periódicos viajes por ciudades de Argentina, Brasil, Europa e India, que le permiten estudiar y aprender constantemente a su lado. En 1988 aprueba su examen de instructor y comienza el ejercicio de la docencia.</p>
        <p>Desde entonces realiza un trabajo incansable que ha generado un sorprendente crecimiento del Método DeRose en Buenos Aires. Forma las primeras promociones de instructores, que con el tiempo darán origen a las ocho sedes que representan a la Red Maestro DeRose en el país. En forma permanente viaja a Brasil, Portugal, España, Francia y diversas ciudades de la Argentina para dar cursos y participar de eventos nacionales e internacionales en calidad de disertante. Además de ser un constante colaborador de diversos blogs, sitios web y otros medios, ha publicado en editoriales de prestigio cuatro libros de investigación sobre técnicas y conceptos pertenecientes a antiguas tradiciones.</p>
        <p>Actualmente, detenta los siguientes cargos: Maestro del Método DeRose, Presidente de la Federación Método DeRose de Buenos Aires, Coordinador del Colegiado Internacional de Federaciones, Socio Fundador e integrante del Rotary Club Internacional Bajo Belgrano.</p>
    </div>
  </div>
  <div class="tour-item"  title='entrevista-edgardo'>
    <a name='entrevista-edgardo' id='entrevista-edgardo'></a>
    <div class='whats-here-poeple georgia'>Entrevista</div>
    <iframe style="margin: 15px 95px;" src="http://player.vimeo.com/video/23977733?title=0&amp;byline=0&amp;portrait=0" width="500" height="363" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <div style='height: 80px;'></div>
  </div>


  <div class="tour-right">
  <div class="side-tour-nav">
    <div class="sprite stn-top"></div>
    <div class="stn-middle proxima-nova-condensed">
      <div class="navigate-tour">SwáSthya Yôga</div>
      <div class="stn-middle-solid">
        <a href="#que_es" class="anchorLink" id="que_es_link">
          <script type="text/javascript">
            $('#que_es_link').click(function(){
            var target_offset = $("#que_es").offset();
		        var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>¿Qué es?</div>
        </a>
      </div>
      <div class="navigate-tour">DeRose</div>
      <div class="stn-middle-solid">
        <a href="#DeRose" class="anchorLink" id="derose_link">
          <script type="text/javascript">
            $('#derose_link').click(function(){
            var target_offset = $("#DeRose").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>¿Quién es?</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#entrevista-DeRose" class="anchorLink" id="entrevista-DeRose_link">
          <script type="text/javascript">
            $('#entrevista-DeRose_link').click(function(){
            var target_offset = $("#entrevista-DeRose").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Entrevista</div>
        </a>
      </div>
      <div class="navigate-tour">Edgardo Caramella</div>
      <div class="stn-middle-solid">
        <a href="#edgardo-caramella" class="anchorLink" id="edgardo_caramella_link">
          <script type="text/javascript">
            $('#edgardo_caramella_link').click(function(){
            var target_offset = $("#edgardo-caramella").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>¿Quién es?</div>
        </a>
      </div>
      <div class="stn-middle-solid">
        <a href="#entrevista-edgardo" class="anchorLink" id="entrevista-edgardo_link">
          <script type="text/javascript">
            $('#entrevista-edgardo_link').click(function(){
            var target_offset = $("#entrevista-edgardo").offset();
		    var target_top = target_offset.top - 150;
            $('html, body').animate({scrollTop:target_top}, 500);
            return false;
            });
          </script>
          <div class="sprite docs-icon"></div>
          <div>Entrevista</div>
        </a>
      </div>
    </div>

    <div class="sprite stn-bottom"></div>
  </div>
  </div>

  </div>

  <div class="clear"></div>
</div>